<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <link rel="icon" href="resources/images/titleIcon.ico" type="image/x-icon">
    <link rel="stylesheet" href="resources/dist/dbUpload/libs.min.css?v=1508495800307">
    <link rel="stylesheet" href="resources/libs/codeMirror/codemirror.css?v=1508495800307">
    <link rel="stylesheet" href="resources/dist/common/common.css?v=1523175610950">
    <link rel="stylesheet" href="resources/dist/dbUpload/dbUpload.css?v=1522132947772">
</head>
<body class="asideToggle">
    #parse("layout/header.vm")
    #parse("layout/aside.vm")
<div class="mainCon">
    <div class="innerCon">
        <h2 class="title"><b>$!{i18n.getProperty("index.title.dataMigrate")}</b><span>&emsp;>&emsp;<a href="./">$!{i18n.getProperty("index.title.newTask")}</a>&emsp;>&emsp;<span class="titleType"></span></span></h2>
        <div class="upload-main">
            <div class="tab db-upload">
                <div class="processCon">
                    <div class="process clearfix">
                        <div class="item">
                            <div class="item1 itemCon cur">
                                <i class="step">01</i>
                                <span>$!{i18n.getProperty("db.title.configResource")}</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item2 itemCon">
                                <i class="step">02</i>
                                <span>$!{i18n.getProperty("db.title.configTable")}</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item3 itemCon">
                                <i class="step">03</i>
                                <span>$!{i18n.getProperty("db.title.columnsMap")}</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item4 itemCon">
                                <i class="step">04</i>
                                <span>$!{i18n.getProperty("db.title.importRule")}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stepCon">
                    <div class="url-info item item1">
                        <div class="configTask">
                            <ul>
                                <li><span class="leftTitle"><span>*</span>$!{i18n.getProperty("manage.title.taskName")}</span><input autocomplete="off" type="text" class="taskName" maxlength="60" autocomplete="off"></li>
                                <li class="desLi"><span class="leftTitle">$!{i18n.getProperty("manage.title.taskDesc")}</span><textarea autocomplete="off" name="" class="taskDes" cols="30" rows="10" maxlength="255"></textarea></li>
                                <li><span class="leftTitle"><span>*</span>$!{i18n.getProperty("manage.title.inApp")}</span><select autocomplete="off" id="userApp"></select></li>
                            </ul>
                        </div>

                        <h3><span>$!{i18n.getProperty("db.title.sourceInfo")}</span></h3>
                        <div class="choose-link clearfix formCon source">
                            <ul>
                                <li>
                                    <span class="key">$!{i18n.getProperty("db.option.resourceType")}</span>
                                    <select autocomplete="off" name=""  class="text-left connType">
                                        <option value="1">$!{i18n.getProperty("db.option.savedLink")}</option>
                                        <option value="2">$!{i18n.getProperty("db.option.tmpLink")}</option>
                                    </select>
                                    <a href="./db.manage">$!{i18n.getProperty("db.title.resourceManage")}</a>
                                </li>
                                <li class="type1show">
                                    <span class="key">$!{i18n.getProperty("db.option.selectDbLink")}</span>
                                    <select autocomplete="off" name=""  class="text-left linkList">
                                    </select>
                                </li>
                                <li class="mt5 type1show">
                                    <span class="tip">$!{i18n.getProperty("db.note.newLink")}</span>
                                </li>
                                <li>
                                    <span class="key">$!{i18n.getProperty("db.option.selectDbType")}</span>
                                    <select autocomplete="off" name="" id="dbType" class="" data-key="dbType" disabled>
                                        <option value="">$!{i18n.getProperty("db.option.selectDbType")}</option>
                                        <option value="38">MySQL</option>
                                        <option value="4">Oracle</option>
                                        <option value="40">SQL Server</option>
                                        <option value="44">DB2</option>
                                        <option value="24">PostgreSQL</option>
                                        <option value="52">AliMySQL</option>
                                        <option value="53">AliSQLServer</option>
                                        <option value="54">AliPostgreSQL</option>
                                        <option value="56">AwsMySQL</option>
                                        <option value="57">AwsSQLServer</option>
                                        <option value="58">AwsPostgreSQL</option>
                                        <option value="60">AwsOracle</option>
                                    </select>
                                </li>
                                <li>
                                    <span class="key">$!{i18n.getProperty("clientList.option.ip")}
                                    </span><input autocomplete="off" type="text" data-key="host" disabled /><span class="port">$!{i18n.getProperty("dbManage.option.port")}</span><input autocomplete="off" type="text" class="" data-key="port" disabled />
                                </li>
                                <li>
                                    <span class="key">$!{i18n.getProperty("dbManage.option.dbName")}</span>
                                    <input autocomplete="off" type="text" class="" data-key="dbName" disabled />
                                </li>
                                <li>
                                    <span class="key">$!{i18n.getProperty("dbManage.option.userName")}</span>
                                    <input autocomplete="off" type="text" class="" data-key="userName" disabled />
                                </li>
                                <li>
                                    <span class="key">$!{i18n.getProperty("dbManage.option.pwd")}</span>
                                    <input autocomplete="off" type="password" class="" data-key="password" disabled/>
                                </li>
                                <li>
                                    <span class="key">$!{i18n.getProperty("dbManage.option.link")}url</span>
                                    <input autocomplete="off" type="text" data-key="url" disabled />
                                </li>
                                <li>
                                    <span class="key">$!{i18n.getProperty("dbManage.title.linkName")}</span>
                                    <input autocomplete="off" type="text" data-key="connName" disabled />
                                    <button class="btn btn-item testConnect">$!{i18n.getProperty("dbManage.title.testConn")}</button>
                                    <span class="testRes"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="upload-type">
                            <h3><span>$!{i18n.getProperty("db.title.configTarget")}</span></h3>
                            <div class="typeCon">
                                <div>
                                    <span class="leftTitle">$!{i18n.getProperty("db.title.selectTargetType")}</span>
                                    <select class="target-type" id="targetType" autocomplete="off">
                                        <option value="1">HDFS</option>
                                        <option value="2">HIVE</option>
                                        <option value="3">Spark MPP</option>
                                        <option value="38">MySQL</option>
                                        <option value="4">Oracle</option>
                                        <option value="40">SQL Server</option>
                                        <option value="44">DB2</option>
                                        <option value="24">PostgreSQL</option>
                                        <option value="52">AliMySQL</option>
                                        <option value="53">AliSQLServer</option>
                                        <option value="54">AliPostgreSQL</option>
                                        <option value="55">AliPPAS</option>
                                        <option value="56">AwsMySQL</option>
                                        <option value="57">AwsSQLServer</option>
                                        <option value="58">AwsPostgreSQL</option>
                                        <option value="60">AwsOracle</option> -->
                                    </select>
                                </div>
                                <div class="mt20"><span class="leftTitle">$!{i18n.getProperty("client.option.selectLink")}</span><select autocomplete="off" class="connId" autocomplete="off"></select><a href="./db.manage">$!{i18n.getProperty("db.title.resourceManage")}</a></div>
                            </div>
                            <ul class="column hdfs">
                                <li class="authType"><span class="key">$!{i18n.getProperty("dbManage.title.authType")}</span><label><i class="radio cur" data-val="1"></i>simple</label><label><i class="radio" data-val="2"></i>kerberos</label><label><i class="radio" data-val="3"></i>sentry</label></li>
                                <li class="upload"><span class="key">core-site.xml $!{i18n.getProperty("dbManage.option.path")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="coreSiteXml" disabled></li>
                                <li class="upload"><span class="key">hdfs-site.xml $!{i18n.getProperty("dbManage.option.path")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="hdfsSiteXml" disabled>
                                </li>
                                <li class="kerberos hidden upload admin"><span class="key">krb5.conf $!{i18n.getProperty("dbManage.option.fileName")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="krb5Conf" disabled>
                                </li>
                                <li class="kerberos hidden upload"><span class="key">KeyTab $!{i18n.getProperty("dbManage.option.fileName")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="keytab" disabled>
                                </li>
                                <li class="kerberos hidden"><span class="key">$!{i18n.getProperty("dbManage.title.kerberos")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="principal" disabled></li>
                                <li class="normal"><span class="key">HDFS $!{i18n.getProperty("dbManage.option.userName")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="userName" disabled></li>
                                <li><span class="key">$!{i18n.getProperty("dbManage.title.linkName")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="connName" disabled>
                                    <button class="btn btn-item testConnect">$!{i18n.getProperty("dbManage.title.testConn")}</button>
                                    <span class="testRes">

                                    </span>
                                </li>
                            </ul>
                            <ul class="column hive hidden">
                                <li><span class="key">$!{i18n.getProperty("dbManage.title.setHdfsLink")}</span><select autocomplete="off" autocomplete="off" data-key="hid" disabled></select></li>
                                <li><span class="key">$!{i18n.getProperty("dbManage.option.addr")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="host" disabled><span class="port">$!{i18n.getProperty("dbManage.option.port")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="port" disabled></li>
                                <li><span class="key">HIVE $!{i18n.getProperty("dbManage.option.proxy")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="userName" disabled></li>
                                <li><span class="key">$!{i18n.getProperty("dbManage.option.link")}URL</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="url" disabled></li>
                                <li><span class="key">$!{i18n.getProperty("dbManage.title.linkName")}</span><input autocomplete="off" maxlength="255" autocomplete="off" type="text" data-key="connName" disabled>
                                    <button class="btn btn-item testConnect">$!{i18n.getProperty("dbManage.title.testConn")}</button>
                                    <span class="testRes">
                                    </span>
                                </li>
                            </ul>
                            <ul class="column db hidden">
                                <li class="">
                                    <span class="key">$!{i18n.getProperty("db.option.selectDbType")}</span>
                                    <select name=""  class="" data-key="dbType" disabled>
                                        <option value="">$!{i18n.getProperty("db.option.selectDbType")}</option>
                                        <option value="38">MySQL</option>
                                        <option value="4">Oracle</option>
                                        <option value="40">SQL Server</option>
                                        <option value="44">DB2</option>
                                        <option value="24">PostgreSQL</option>
                                        <option value="52">AliMySQL</option>
                                        <option value="53">AliSQLServer</option>
                                        <option value="54">AliPostgreSQL</option>
                                        <option value="55">AliPPAS</option>
                                        <option value="56">AwsMySQL</option>
                                        <option value="57">AwsSQLServer</option>
                                        <option value="58">AwsPostgreSQL</option>
                                        <option value="60">AwsOracle</option>
                                    </select>
                                </li>
                                <li class="">
                                    <span class="key">$!{i18n.getProperty("clientList.option.ip")}
                                    </span><input type="text" class="host" data-key="host" disabled /><span class="span_port">$!{i18n.getProperty("dbManage.option.port")}</span><input type="text" class="port" data-key="port" disabled />
                                </li>
                                <li class="">
                                    <span class="key">$!{i18n.getProperty("dbManage.option.dbName")}</span>
                                    <input type="text" class=""  data-key="dbName" disabled />
                                </li>
                                <li class="">
                                    <span class="key">$!{i18n.getProperty("dbManage.option.userName")}</span>
                                    <input type="text" class="" data-key="userName" disabled />
                                </li>
                                <li class="">
                                    <span class="key">$!{i18n.getProperty("dbManage.option.pwd")}</span>
                                    <input type="password" class="" data-key="password" disabled/>
                                </li>
                                <li class="">
                                    <span class="key">$!{i18n.getProperty("dbManage.option.link")}url</span>
                                    <input type="text"  data-key="url" disabled />
                                </li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-cancel index"><a href="./" onclick="return false;">$!{i18n.getProperty("client.option.cancel")}</a></button>
                            <button class="btn btn-item connect">$!{i18n.getProperty("client.option.nextStep")}</button>
                        </div>
                    </div>
                    <div class="item item2">
                        <h3>
                            <span>$!{i18n.getProperty("local.title.importConf")}</span>
                            <i class="tip">$!{i18n.getProperty("db.note.tableNote")}</i>
                            <div class="mtype">
                                <b>$!{i18n.getProperty("db.option.transType")}</b>
                                <label><i class="radio cur" data-val="1"></i>$!{i18n.getProperty("db.option.transTbl")}</label>
                                <label><i class="radio" data-val="2"></i>$!{i18n.getProperty("db.option.transView")}</label>
                                <label><i class="radio" data-val="3"></i>$!{i18n.getProperty("db.option.sqlQuery")}</label>
                            </div>
                        </h3>
                        <div class="leftSide sourceTbl">
                            <h4>$!{i18n.getProperty("db.title.srcData")}</h4>
                            <div class="clearfix" style="position: relative;"><input autocomplete="off" type="text" class="keyword" placeholder="$!{i18n.getProperty("db.note.searchTableTip")}"><i class="clear"></i><button class="query"><i></i></button></div>
                            <div class="clearfix allCon">
                                <i class="allSelected check"></i>$!{i18n.getProperty("db.option.allSelt")}
                            </div>
                            <div class="tblList">
                                <ul class="ul">

                                </ul>
                                <div class="noData hidden">
                                    $!{i18n.getProperty("db.text.matchNone")}
                                </div>
                            </div>
                        </div>
                        <div class="transfer">
                            <button class="move-right"><img src="resources/dist/images/dbUpload/move2Right.png" alt=""></button>
                            <button class="move-left"><img src="resources/dist/images/dbUpload/move2Left.png" alt=""></button>
                        </div>
                        <div class="rightSide targetPath">
                            <h4>$!{i18n.getProperty("s3.option.selected")} <b></b></h4>
                            <div class="tableItem">
                                <table>
                                    <thead>

                                    </thead>
                                    <tbody class="target-item">
                                    <tr class="noDataTr">
                                        <td colspan="4" class="tableNoData"><img src="resources/dist/images/noData.png">$!{i18n.getProperty("manage.title.noData")}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="rightSide sqlQuery hidden">
                            <h4>$!{i18n.getProperty("db.title.sqlEditor")}</h4>
                            <div id="SQLEditor"></div>
                            <div class="editorAct">
                                <a class="format">$!{i18n.getProperty("db.act.sqlFormat")}</a>
                                <a class="preView">$!{i18n.getProperty("db.act.preview")}</a>
                                <span>$!{i18n.getProperty("db.text.querylimit5")}</span>
                            </div>
                            <h4 class="preshow">$!{i18n.getProperty("db.title.preViewResult")}</h4>
                            <div class="fieldList preshow">

                            </div>
                        </div>
                        <div class="config sqlQuery hidden">
                            <h4>$!{i18n.getProperty("db.title.configTarget")}</h4>
                            <div class="hdfs tab">
                                <div class="res">
                                    <label>$!{i18n.getProperty("local.title.fileDir")}：</label><input autocomplete="off" type="text" class="selectedDir" disabled><button class="btn btn-item scan">$!{i18n.getProperty("local.option.scan")}</button><br>
                                    <label>$!{i18n.getProperty("local.title.fileName")}：</label><input autocomplete="off" type="text" class="fileName" maxlength="60">
                                </div>
                            </div>
                            <div class="hive tab">
                                <div class="hive">
                                    <div class="infoline first">
                                        <label for="dbName">$!{i18n.getProperty("local.option.db")}</label><select autocomplete="off" id="dbName"></select>
                                    </div>
                                    <div class="infoline">
                                        <label for="tableName">$!{i18n.getProperty("local.option.tbl")}</label><select autocomplete="off" id="tableName"></select>
                                    </div>
                                    <div class="infoline last hidden">
                                        <label>$!{i18n.getProperty("local.option.part")}</label><div id="partitions"></div>
                                    </div>
                                    <div class="infoline formatLine">
                                        <label>$!{i18n.getProperty("db.option.tableType")}</label>
                                        <select class="tableType" disabled autocomplete="off">
                                            <option value="0">text</option>
                                            <option value="1">orc</option>
                                            <option value="2">parquet</option>
                                            <option value="3">rcfile</option>
                                            <option value="4">sequencefile</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="new-sql">
                                    <h5 class="title">
                                        $!{i18n.getProperty("local.option.tarSql")}
                                        <strong>
                                            <img src="resources/images/zs.png">
                                            <div class="tip">
                                                <b>$!{i18n.getProperty("db.text.state")}:</b>
                                                <div>1. $!{i18n.getProperty("local.note.newTblNote")}</div>
                                                <div>2. $!{i18n.getProperty("db.note.replaceNote")}</div>
                                                <div class="dbtip">3. <span></span></div>
                                            </div>
                                        </strong>
                                    </h5>
                                    <textarea autocomplete="off" disabled></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center act">
                            <button class="btn btn-cancel">$!{i18n.getProperty("client.option.prevStep")}</button>
                            <button class="btn btn-item">$!{i18n.getProperty("client.option.nextStep")}</button>
                        </div>
                    </div>
                    <div class="item item3">
                        <div class="srcTbl"></div>
                        <div class="mapConfig">
                            <div class="columnMap">
                                <div class="h4head">
                                    <b>$!{i18n.getProperty("db.option.columnsConfig")}</b>
                                    <nav class="topbar">
                                        <a class="index"><i class="icon indexIcon"></i>$!{i18n.getProperty("db.option.mapIndex")}</a>
                                        <a class="name"><i class="icon nameIcon"></i>$!{i18n.getProperty("db.option.mapName")}</a>
                                        <a class="empty"><i class="icon emptyIcon"></i>$!{i18n.getProperty("db.option.emptyMap")}</a>
                                    </nav>
                                </div>
                                <div class="columnTitle">
                                    <div class="srcTitle">
                                        <p>$!{i18n.getProperty("db.text.srcTblColumn")}</p>
                                        <div>
                                            <span>$!{i18n.getProperty("db.option.column")}</span>
                                            <span>$!{i18n.getProperty("db.text.type")}</span>
                                        </div>
                                    </div>
                                    <div class="tarTitle">
                                        <p>$!{i18n.getProperty("db.text.tarTblColumn")}</p>
                                        <div>
                                            <span>$!{i18n.getProperty("db.option.column")}</span>
                                            <span>$!{i18n.getProperty("db.text.type")}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-list">

                                </div>
                            </div>
                            <div class="dataDeal">
                                <div class="itemList">
                                    <h4 class="h4head">$!{i18n.getProperty("db.title.funcList")}</h4>
                                    <ul class="group">
                                        <li class="type">$!{i18n.getProperty("db.option.dataFunc")}</li>
                                        <ul>
                                            <li item-type="filterFunc"><i class="list-icon1"></i>$!{i18n.getProperty("db.text.filterFunc")}</li>
                                            <li item-type="replace"><i class="list-icon1"></i>$!{i18n.getProperty("db.text.Replace")}</li>
                                            <li item-type="replaceEnter"><i class="list-icon2"></i>$!{i18n.getProperty("db.text.ReplaceEnter")}</li>
                                            <li item-type="trim"><i class="list-icon3"></i>$!{i18n.getProperty("db.text.trim")}</li>
                                            <li item-type="substr"><i class="list-icon4"></i>$!{i18n.getProperty("db.text.substr")}</li>
                                            <li item-type="delChar"><i class="list-icon5"></i>$!{i18n.getProperty("db.text.delChar")}</li>
                                        </ul>
                                    </ul>
                                    <ul class="group">
                                        <li class="type">$!{i18n.getProperty("db.option.addColumn")}</li>
                                        <ul>
                                            <li item-type="timestamp"><i class="list-icon6"></i>$!{i18n.getProperty("db.text.timestamp")}</li>
                                            <li item-type="const"><i class="list-icon7"></i>$!{i18n.getProperty("db.text.const")}</li>
                                            <li item-type="null"><i class="list-icon8"></i>$!{i18n.getProperty("db.text.null")}</li>
                                        </ul>
                                    </ul>
                                </div>
                                <div class="itemConfig">
                                    <div class="svgCon">
                                        <h4 class="saveConfig h4head"><span>$!{i18n.getProperty("db.act.saveConfig")}</span></h4>
                                        <svg>
                                            <defs>
                                                <marker id="markerArrow" markerWidth="8" markerHeight="8" refx="2" refy="5" orient="auto">
                                                    <path d="M2,2 L2,8 L8,5 L2,2" style="fill: #61a8e0;" />
                                                </marker>
                                            </defs>
                                        </svg>
                                    </div>
                                    <div class="funcCon">
                                        <h3 class="h4head">$!{i18n.getProperty("dbManage.title.param")}<span class="cancel">×</span></h3>
                                        <div class="content">
                                            <div class="item-type-filterFunc func">
                                                <div>$!{i18n.getProperty("db.text.funcName")}: 过滤函数</div>
                                                <div id="JSFilter"></div>
                                                <label><i class="radio cur" data-val="1"></i>$!{i18n.getProperty("db.text.skip")}</label>
                                                <label><i class="radio" data-val="2"></i>$!{i18n.getProperty("db.text.interrupt")}</label>
                                            </div>
                                            <div class="item-type-replace func">
                                                <div>$!{i18n.getProperty("db.text.funcName")}: $!{i18n.getProperty("db.text.Replace")}</div>
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <td>$!{i18n.getProperty("db.text.oldChar")}</td>
                                                        <td>$!{i18n.getProperty("db.text.newChar")}</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                                <a>+$!{i18n.getProperty("db.act.oldChar")}</a>
                                            </div>
                                            <div class="item-type-replaceEnter func">
                                                <div>$!{i18n.getProperty("db.text.funcName")}: $!{i18n.getProperty("db.text.ReplaceEnter")}</div>
                                                <div>
                                                    $!{i18n.getProperty("db.option.replaceMent")}<select><option value="\n">\n</option><option value="\r\n">\r\n</option><option value="\r">\r</option></select>
                                                </div>
                                            </div>
                                            <div class="item-type-trim func">
                                                <div>$!{i18n.getProperty("db.text.funcName")}: $!{i18n.getProperty("db.text.trim")}</div>
                                                <div>
                                                    <label><i class="radio"></i>$!{i18n.getProperty("db.option.trimBlank")}</label>
                                                    <label><i class="radio"></i>$!{i18n.getProperty("db.option.trimAll")}</label>
                                                </div>
                                            </div>
                                            <div class="item-type-substr func">
                                                <div>$!{i18n.getProperty("db.text.funcName")}: $!{i18n.getProperty("db.text.substr")}</div>
                                                <div>
                                                    <select><option value="1">$!{i18n.getProperty("db.text.order")}</option><option value="2">$!{i18n.getProperty("db.text.reverse")}</option></select>
                                                    $!{i18n.getProperty("client.text.first")}<input type="text">$!{i18n.getProperty("db.text.charSub")}
                                                </div>
                                                <div>
                                                    $!{i18n.getProperty("db.text.subLen")}<input type="text">
                                                    <label><i class="radio"></i>$!{i18n.getProperty("db.text.nolimit")}</label>
                                                </div>
                                            </div>
                                            <div class="item-type-delChar func">
                                                <div>$!{i18n.getProperty("db.text.funcName")}: $!{i18n.getProperty("db.text.delChar")}</div>
                                                <div class="config">

                                                </div>
                                                <a>+$!{i18n.getProperty("db.act.oldChar")}</a>
                                            </div>
                                            <div class="item-type-timestamp func">
                                                <div>$!{i18n.getProperty("db.text.funcName")}: $!{i18n.getProperty("db.text.timestamp")}</div>
                                                <div>
                                                    $!{i18n.getProperty("db.text.selectType")}: <select><option>$!{i18n.getProperty("db.text.stamp")}</option></select>
                                                </div>
                                            </div>
                                            <div class="item-type-const func">
                                                <div>$!{i18n.getProperty("db.text.funcName")}: $!{i18n.getProperty("db.text.const")}</div>
                                                $!{i18n.getProperty("dbManage.title.val")}: <input type="text">
                                            </div>
                                            <div class="item-type-null func">
                                                <div>$!{i18n.getProperty("db.text.funcName")}: $!{i18n.getProperty("db.text.null")}</div>
                                                $!{i18n.getProperty("db.text.null")}
                                            </div>
                                        </div>
                                        <div class="text-right save">
                                            <button class="btn btn-item">$!{i18n.getProperty("dbManage.option.save")}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="itemCon">
                                    <div class="item-type src">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        $!{i18n.getProperty("db.title.srcData")}
                                    </div>
                                    <div class="item-type tar">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        $!{i18n.getProperty("db.text.tarData")}
                                    </div>
                                    <div class="item-type item-type-filterFunc">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        <span class="item-icon1"></span>
                                    </div>
                                    <div class="item-type item-type-replace">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        <span class="item-icon1"></span>
                                    </div>
                                    <div class="item-type item-type-replaceEnter">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        <span class="item-icon2"></span>
                                    </div>
                                    <div class="item-type item-type-trim">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        <span class="item-icon3"></span>
                                    </div>
                                    <div class="item-type item-type-substr">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        <span class="item-icon4"></span>
                                    </div>
                                    <div class="item-type item-type-delChar">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        <span class="item-icon5"></span>
                                    </div>
                                    <div class="item-type item-type-timestamp">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        <span class="item-icon6"></span>
                                    </div>
                                    <div class="item-type item-type-const">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        <span class="item-icon7"></span>
                                    </div>
                                    <div class="item-type item-type-null">
                                        <i class="top point"></i>
                                        <i class="right point"></i>
                                        <i class="bottom point"></i>
                                        <i class="left point"></i>
                                        <span class="item-icon8"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center act">
                            <button class="btn btn-cancel">$!{i18n.getProperty("client.option.prevStep")}</button>
                            <button class="btn btn-item">$!{i18n.getProperty("client.option.nextStep")}</button>
                        </div>
                    </div>
                    <div class="item item4">
                        <div class="set-cron">
                            <h3><span>$!{i18n.getProperty("db.title.importRule")}</span></h3>
                            #parse("cron/cron.vm")
                        </div>
                        <div class="text-center act">
                            <button class="btn btn-cancel">$!{i18n.getProperty("client.option.prevStep")}</button>
                            <button class="btn btn-item">$!{i18n.getProperty("client.option.startImport")}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="global-ConfigCon" style="display:none;">
    <div class="configCon">
        <nav class="configTab">
            <a href="javascript:;" class="cur">$!{i18n.getProperty("db.title.scanSql")}</a>
            <a href="javascript:;">$!{i18n.getProperty("db.title.setCondition")}</a>
            <span class="cancel">×</span>
        </nav>
        <div class="contntWrapper">
            <div class="hdfsTab tab">
                <div class="dirDos">
                    <ul class="ul">
                    </ul>
                </div>
                <div class="res">
                    <label>$!{i18n.getProperty("local.title.fileDir")}：</label><input autocomplete="off" type="text" class="selectedDir" disabled> <br>
                    <label>$!{i18n.getProperty("local.title.fileName")}：</label><input autocomplete="off" type="text" class="fileName" maxlength="60">
                </div>
                <div class="replace-tag">
                    <p class="tip">$!{i18n.getProperty("db.note.replaceNote")}</p>
                    <div class="isReplace">
                        <i class="checkbox cur"></i>$!{i18n.getProperty("db.option.replaceEnable")}
                        <label>$!{i18n.getProperty("db.option.replaceMent")}</label>
                        <ul class="replacementCon">
                            <li data-val=" " class="val">1$!{i18n.getProperty("db.text.space")}</li>
                            <ul class="list">
                                <li class="item" data-val=" ">1$!{i18n.getProperty("db.text.space")}</li>
                                <li class="item" data-val="">$!{i18n.getProperty("db.text.emptyString")}</li>
                                <li class="input"><input autocomplete="off" maxlength="10" type="text" class="inputReplacement" placeholder="$!{i18n.getProperty("db.text.customize")}"><button>$!{i18n.getProperty("db.text.confirm")}</button></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dbTab tab">
                <div class="hive">
                    <div class="infoline first">
                        <label for="dbName">$!{i18n.getProperty("local.option.db")}</label><select autocomplete="off" id="dbName"></select>
                    </div>
                    <div class="infoline">
                        <label for="tableName">$!{i18n.getProperty("local.option.tbl")}</label><select autocomplete="off" id="tableName"></select>
                    </div>
                    <div class="infoline last hidden">
                        <label>$!{i18n.getProperty("local.option.part")}</label><div id="partitions"></div>
                    </div>
                    <div class="infoline formatLine">
                        <label>$!{i18n.getProperty("db.option.tableType")}</label>
                        <select class="tableType" disabled autocomplete="off">
                            <option value="0">text</option>
                            <option value="1">orc</option>
                            <option value="2">parquet</option>
                            <option value="3">rcfile</option>
                            <option value="4">sequencefile</option>
                        </select>
                    </div>
                </div>
                <div class="new-sql">
                    <h5 class="title">
                        $!{i18n.getProperty("local.option.tarSql")}
                        <strong>
                            <img src="resources/images/zs.png">
                            <div class="tip">
                                <b>$!{i18n.getProperty("db.text.state")}:</b>
                                <div>1. $!{i18n.getProperty("local.note.newTblNote")}</div>
                                <div>2. $!{i18n.getProperty("db.note.replaceNote")}</div>
                                <div class="dbtip">3. <span></span></div>
                            </div>
                        </strong>
                    </h5>
                    <textarea autocomplete="off" name="" id="" cols="30" rows="10" disabled></textarea>
                </div>
                <div class="replace-tag">
                    <div class="isReplace">
                        <i class="checkbox cur"></i>$!{i18n.getProperty("db.option.replaceEnable")}
                        <label>$!{i18n.getProperty("db.option.replaceMent")}</label>
                        <ul class="replacementCon">
                            <li data-val=" " class="val">1$!{i18n.getProperty("db.text.space")}</li>
                            <ul class="list">
                                <li class="item" data-val=" ">1$!{i18n.getProperty("db.text.space")}</li>
                                <li class="item" data-val="">$!{i18n.getProperty("db.text.emptyString")}</li>
                                <li class="input"><input autocomplete="off" maxlength="10" type="text" class="inputReplacement" placeholder="$!{i18n.getProperty("db.text.customize")}"><button>$!{i18n.getProperty("db.text.confirm")}</button></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="filterTab tab hidden">
                <div class="filterCon">
                    <div class="filterType">
                        <b>$!{i18n.getProperty("db.title.confition")}</b>
                        <label><i class="radio cur" data-val="1"></i>$!{i18n.getProperty("db.option.whereCondition")}</label>
                        <label><i class="radio" data-val="2"></i>$!{i18n.getProperty("db.option.asyncCondition")}</label>
                    </div>
                    <div class="filterWhere">
                        <div class="editSql"><b>$!{i18n.getProperty("db.text.setWhere")}</b><label><i class="switch"></i>$!{i18n.getProperty("db.option.customSql")}</label></div>
                        <div class="flex filter-list">
                            <div class="flex-item head">
                                <span class="item">$!{i18n.getProperty("db.option.column")}</span>
                                <span class="item">$!{i18n.getProperty("db.option.condition")}</span>
                                <span class="item">$!{i18n.getProperty("dbManage.title.val")}</span>
                                <span class="item">$!{i18n.getProperty("db.title.ddlConn")}</span>
                                <span class="item act">$!{i18n.getProperty("clientList.option.oper")}</span>
                            </div>
                            <div class="flex-item noData">
                                <span class="item">$!{i18n.getProperty("db.note.noCondition")}, <a href="javascript:;" class="add-filter">$!{i18n.getProperty("db.btn.addCondition")}</a></span>
                            </div>
                        </div>
                        <textarea autocomplete="off" name="" id="" cols="30" rows="10" disabled></textarea>
                    </div>
                    <div class="filterSynch synch hidden">
                        <h4>$!{i18n.getProperty("db.title.setSynch")}</h4>
                        <div class="flex">
                            <div class="flex-item head">
                                <span class="item">$!{i18n.getProperty("db.text.srcTblColumn")}</span>
                                <span class="item">$!{i18n.getProperty("db.text.tarTblColumn")}</span>
                            </div>
                            <div class="flex-item">
                                <span class="item"><select class="srcColumn"></select></span>
                                <span class="item"><select class="tarColumn"></select></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-item">$!{i18n.getProperty("dbManage.option.save")}</button>
                <button class="btn btn-cancel">$!{i18n.getProperty("client.option.cancel")}</button>
            </div>
        </div>
    </div>
</div>
<div class="global-batch" style="display: none;">
    <div class="configCon">
        <div class="hdfsTab">
            <h4><span class="title">$!{i18n.getProperty("dump.title.batchConfig")}</span><span class="cancel">×</span></h4>
            <div class="dirDos">
                <ul class="ul">
                </ul>
            </div>
            <div class="res">
                <label>$!{i18n.getProperty("local.title.fileDir")}</label><input autocomplete="off" type="text" class="selectedDir" disabled> <br>
            </div>
        </div>
        <div class="dbTab">
            <div class="hive">
                <h4><span class="title">$!{i18n.getProperty("dump.title.batchConfig")}</span><span class="cancel">×</span></h4>
                <div class="infoline first">
                    <label for="batch-dbName">$!{i18n.getProperty("local.option.db")}
                    </label><select id="batch-dbName">
                </select><strong>
                    <img src="resources/images/zs.png">
                    <div class="tip">
                        <b>$!{i18n.getProperty("db.text.state")}: </b>
                        <div>1. $!{i18n.getProperty("db.note.replaceNote")}</div>
                        <div class="dbtip">2. <span></span></div>
                    </div>
                </strong>
                </div>
            </div>
        </div>
        <div class="replace-tag">
            <p class="tip">$!{i18n.getProperty("db.note.replaceNote")}</p>
            <div class="isReplace"><i class="checkbox cur"></i>$!{i18n.getProperty("db.option.replaceEnable")}
                <label>$!{i18n.getProperty("db.option.replaceMent")}</label>
                <ul class="replacementCon">
                    <li data-val=" " class="val">1$!{i18n.getProperty("db.text.space")}</li>
                    <li>
                        <ul class="list">
                            <li class="item" data-val=" ">1$!{i18n.getProperty("db.text.space")}</li>
                            <li class="item" data-val="">$!{i18n.getProperty("db.text.emptyString")}</li>
                            <li class="input"><input autocomplete="off" maxlength="10" type="text" class="inputReplacement" placeholder="$!{i18n.getProperty("db.text.customize")}"><button>$!{i18n.getProperty("db.text.confirm")}</button></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-item">$!{i18n.getProperty("dbManage.option.save")}</button>
            <button class="btn btn-cancel">$!{i18n.getProperty("client.option.cancel")}</button>
        </div>
    </div>
</div>
<div class="global-mask"></div>
<div id="globalLoadCon" style="position:fixed;z-index:99 ; display:none;height:100%;width:100%;top:0;left:0; background:rgba(255,255,255, .3);">
    <div style="width:20%;margin:20% 40%;text-align:center;height:80px;line-height:80px;">
        <img src="resources/dist/images/loading.gif"></div>
</div>
<div id="waitLoading" style="position:fixed;z-index:99 ; display:none;height:100%;width:100%;top:0;left:0; background:rgba(255,255,255, .3);">
    <div style="width: 20%;margin: 20% 40%;text-align: center;background: rgba(0,0,0,.5);color: #fff;padding: 20px;line-height: 30px;border-radius: 10px;">
        <img src="resources/dist/images/loading.gif">
        <article></article>
    </div>
</div>
<div class="mapConfig-delete">
    $!{i18n.getProperty("clientList.option.del")}
</div>
<div style="display:none">
    <img src="resources/images/boxCheck.png">
    <img src="resources/images/boxLost.png">
</div>
<script type="text/html" id="template/options">
    {{each data as v i }}
    <option data-val="{{v.val}}" value="{{v.id}}">{{v.connName}}</option>
    {{/each}}
</script>
<script type="text/html" id="template/hdfsDir">
    {{each dir as v i}}
    <li data-base="{{v}}"><p title="{{v.slice(len)}}"><i class="show"></i>{{v.slice(len)}}<i class="check"></i></p><ul class="ul"></ul></li>
    {{/each}}
</script>
<script type="text/html" id="template/sourceDb">
    {{if databases.length <=  0}}
    <li class="li-noData">
        <img src="resources/dist/images/noData.png" alt="">
        $!{i18n.getProperty("manage.title.noData")}
    </li>
    {{else}}
    {{each databases as v i}}
    <li class="db-item" data-catalog="{{v.catalog}}" data-schema="{{v.schema}}" data-dbname="{{v.name}}">
        <i class="check dbSelected"></i><a class="getTbl">+</a><i class="db-icon"></i><p title="{{v.name}}">{{v.name}}</p>
        <ul class="tbl" style="display: none;"></ul><ul class="view" style="display: none;"></ul>
    </li>
    {{/each}}
    {{/if}}
</script>
<script type="text/html" id="template/sourceView">
    {{if model.length > 0}}
    {{each model as v i}}
    <li class="{{if isChecked}}cur{{/if}}"><b>{{i+1}}</b><i class="check tblSelected {{if isChecked}}cur{{/if}}"></i><i class="view-icon"></i><p title="{{v.name}}">{{v.name}}</p></li>
    {{/each}}
    {{else}}
    <li class="noData">$!{i18n.getProperty("db.text.queryNone")}</li>
    {{/if}}
</script>
<script type="text/html" id="template/sourceTbl">
    {{if model.length > 0}}
    {{each model as v i}}
    <li class="{{if isChecked}}cur{{/if}}"><b>{{i+1}}</b><i class="check tblSelected {{if isChecked}}cur{{/if}}"></i><i class="tbl-icon"></i><p title="{{v.name}}">{{v.name}}</p></li>
    {{/each}}
    {{else}}
    <li class="noData">$!{i18n.getProperty("db.text.queryNone")}</li>
    {{/if}}
</script>
<script type="text/html" id="template/thead">
    <tr class="{{if isDb}}isdb{{/if}}">
        {{if isDb}}
        <td><i class="check allSelected"></i>{{if type == 1}}$!{i18n.getProperty("db.option.srcTbl")}{{else}}$!{i18n.getProperty("db.option.srcView")}{{/if}}</td>
        <td>$!{i18n.getProperty("db.option.tarDb")}</td>
        <td>$!{i18n.getProperty("dump.option.tarTbl")}</td>
        {{else}}
        <td><i class="check allSelected"></i>{{if type == 1}}$!{i18n.getProperty("db.option.srcTbl")}{{else}}$!{i18n.getProperty("db.option.srcView")}{{/if}}</td>
        <td>$!{i18n.getProperty("local.option.confPath")}</td>
        {{/if}}
        <td class="batch"><img src="resources/images/mapData.png" alt="">$!{i18n.getProperty("dump.title.batchConfig")}</td>
    </tr>
</script>
<script type="text/html" id="template/targetTbl">
    <tr data-name="{{dbName}}" class="target-path">
        {{if isDb}}
        <td colspan="4" class="colspan"><i class="target-db check"></i><i class="db-icon"></i>{{dbName}} (<b>{{count}}</b>)</td>
        {{else}}
        <td colspan="3" class="colspan"><i class="target-db check"></i><i class="db-icon"></i>{{dbName}} (<b>{{count}}</b>)</td>
        {{/if}}
    </tr>
    {{each tbls as v i}}
    <tr class="{{if isDb}}isdb{{/if}}" data-catalog="{{catalog}}" data-schema="{{schema}}" data-name="{{dbName}}" data-tbl="{{v.tbl}}">
        {{if isDb}}
        <td class="target-name" data-param="{{v.param}}" data-filter="{{v.filter}}"><i class="check target-tbl"></i><i class="{{if srcType == 1}}tbl-icon{{else}}view-icon{{/if}}"></i>{{v.tbl}}</td>
        <td class="db">{{if v.target}}{{v.target.name}}{{/if}}</td>
        <td class="tbl">{{if v.target}}{{v.target.tableName}}{{else}}{{v.tbl}}{{/if}}</td>
        {{else}}
        <td class="target-name" data-param="{{v.param}}" data-filter="{{v.filter}}"><i class="check target-tbl"></i><i class="tbl-icon"></i>{{v.tbl}}</td>
        <td class="fileName">{{if v.target}}{{v.target.fileName}}{{else}}{{v.tbl}}.txt{{/if}}</td>
        {{/if}}
        <td class="config"><img src="resources/images/mapData.png" alt="">$!{i18n.getProperty("db.text.config")}</td>
    </tr>
    {{/each}}
</script>
<script type="text/html" id="template/colFields">
    <div class="flex">
        <div class="flex-item head">
            {{each headers as v i}}
            <span class="item" title="{{v.name}}">{{v.name}}</span>
            {{/each}}
        </div>
        {{if rows.length <= 0}}
        <div class="flex-item Null">
            {{each headers as v i}}
            <span class="item">(Null)</span>
            {{/each}}
        </div>
        {{else}}
        {{each rows as v i}}
        <div class="flex-item">
            {{each v.fields as vv}}
            <span class="item" title="{{vv.value}}">{{vv.value}}</span>
            {{/each}}
        </div>
        {{/each}}
        {{/if}}
    </div>
</script>
<script type="text/html" id="template/columnSrc">
    <h4 class="h4head">$!{i18n.getProperty("db.text.mapTblList")}</h4>
    <ul>
        {{each src as v i}}
        <li data-source="{{v.params}}" data-target="{{tar[i].params}}"><i class="tbl-icon"></i><p title="{{v.tableName}}">{{v.tableName}}</p></li>
        {{/each}}
    </ul>
</script>

<script src="resources/dist/dbUpload/libs.min.js?v=1508495800307"></script>
<script src="resources/libs/codeMirror/codemirror.js?v=1508495800307"></script>
<script src="resources/libs/SQLEditor/min-editor/ace.js"></script>
<script src="resources/libs/SQLEditor/min-editor/ext-language_tools.js"></script>
<script src="resources/libs/SQLEditor/sqlFormat.js"></script>
<script src="resources/dist/common/common.js?v=1523175610950"></script>
<script src="resources/libs/My97DatePicker/WdatePicker.js?v=1508495800307"></script>
<script src="resources/cron/cron.js?v=1508495800307"></script>
<script src="resources/dist/dbUpload/dbUpload.js?v=1524131486549" async></script>
</body>
</html>