<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FTP $!{i18n.getProperty("s3.title.migrate")}</title>
    <link rel="icon" href="resources/images/titleIcon.ico" type="image/x-icon">
    <link rel="stylesheet" href="resources/dist/ftpUpload/libs.min.css?v=1508495800307">
    <link rel="stylesheet" href="resources/dist/common/common.css?v=1523175610950">
    <link rel="stylesheet" href="resources/dist/ftpUpload/ftpUpload.css?v=1515133617110">
</head>
<body class="asideToggle">
    #parse("layout/header.vm")
    #parse("layout/aside.vm")
<div class="mainCon">
    <div class="innerCon">
        <h2 class="title"><b>$!{i18n.getProperty("index.title.dataMigrate")}</b><span>&emsp;>&emsp;<a href="./">$!{i18n.getProperty("index.title.newTask")}</a>&emsp;>&emsp;FTP $!{i18n.getProperty("s3.title.migrate")}</span></h2>
        <div class="upload-conatiner">
            <div class="upload-tab uploadFile">
                <div class="taskNav">
                    <div class="processCon">
                        <div class="process clearfix">
                            <div class="item">
                                <div class="item1 itemCon cur">
                                    <i class="step">01</i>
                                    <span>$!{i18n.getProperty("db.title.configResource")}</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item2 itemCon">
                                    <i class="step">02</i>
                                    <span>$!{i18n.getProperty("client.title.confUpPath")}</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item3 itemCon">
                                    <i class="step">03</i>
                                    <span>$!{i18n.getProperty("db.title.importRule")}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="configTask">
                    <ul>
                        <li><span class="leftTitle"><span>*</span>$!{i18n.getProperty("manage.title.taskName")}</span><input autocomplete="off" type="text" class="taskName" maxlength="60" autocomplete="off"></li>
                        <li class="desLi"><span class="leftTitle">$!{i18n.getProperty("manage.title.taskDesc")}</span><textarea autocomplete="off" name="" class="taskDes" cols="30" rows="10" maxlength="255"></textarea></li>
                        <li><span class="leftTitle"><span>*</span>$!{i18n.getProperty("manage.title.inApp")}</span><select autocomplete="off" id="userApp"></select></li>
                    </ul>
                </div>

                <h3><span>$!{i18n.getProperty("db.title.sourceInfo")}</span></h3>
                <div class="choose-link clearfix formCon source">
                    <ul>
                        <li>
                            <span class="key">$!{i18n.getProperty("db.option.resourceType")}</span>
                            <select autocomplete="off" name=""  class="text-left connType">
                                <option value="1">$!{i18n.getProperty("db.option.savedLink")}</option>
                                <option value="2">$!{i18n.getProperty("db.option.tmpLink")}</option>
                            </select>
                            <a href="./db.manage">$!{i18n.getProperty("db.title.resourceManage")}</a>
                        </li>
                        <li class="type1show">
                            <span class="key">$!{i18n.getProperty("db.option.selectDbLink")}</span>
                            <select autocomplete="off" name=""  class="text-left linkList">
                            </select>
                        </li>
                        <li>
                                    <span class="key">$!{i18n.getProperty("clientList.option.ip")}
                                    </span><input autocomplete="off" type="text" data-key="host" disabled /><span class="port">$!{i18n.getProperty("dbManage.option.port")}</span><input autocomplete="off" type="text" class="" data-key="port" disabled />
                        </li>
                        <li>
                            <span class="key">$!{i18n.getProperty("dbManage.option.protocol")}</span>
                            <select autocomplete="off" data-key="protocol" disabled>
                                <option value="" class="empty"></option>
                                <option value="1">FTP - $!{i18n.getProperty("dbManage.option.ftp")}</option>
                                <option value="2">SFTP-SSH $!{i18n.getProperty("dbManage.option.ftp")}</option>
                            </select>
                        </li>
                        <li>
                            <span class="key">$!{i18n.getProperty("dbManage.option.userName")}</span>
                            <input autocomplete="off" type="text" class="" data-key="userName" disabled />
                        </li>
                        <li>
                            <span class="key">$!{i18n.getProperty("dbManage.option.pwd")}</span>
                            <input autocomplete="off" type="password" class="" data-key="password" disabled/>
                            <button class="btn btn-item testConnect">$!{i18n.getProperty("dbManage.title.testConn")}</button>
                            <span class="testRes"></span>
                        </li>
                        <li class="type2show" style="display:none">
                            <span class="key">$!{i18n.getProperty("dbManage.option.connName")}</span>
                            <input type="text" data-key="connName" autocomplete="off" disabled />
                        </li>
                    </ul>
                </div>
                <div class="upload-type">
                    <h3><span>$!{i18n.getProperty("db.title.configTarget")}</span></h3>
                    <div class="typeCon">
                        <div>
                            <span class="leftTitle">$!{i18n.getProperty("db.title.selectTargetType")}</span>
                            <span>HDFS</span>
                        </div>
                        <div class="mt20"><span class="leftTitle">$!{i18n.getProperty("client.option.selectLink")}</span><select autocomplete="off" class="connId" id="connId" autocomplete="off"></select></div>
                    </div>
                </div>
                <div class="btnZone">
                    <input autocomplete="off" type="button" value="$!{i18n.getProperty("client.option.cancel")}" class="CancelBtn" />
                    <input autocomplete="off" type="button" value="$!{i18n.getProperty("client.option.nextStep")}" class="FileNext" />
                </div>
            </div>
            <div class="upload-tab choiceRoute">
                <div class="taskNav">
                    <div class="processCon">
                        <div class="process clearfix">
                            <div class="item">
                                <div class="item1 itemCon">
                                    <i class="step">01</i>
                                    <span>$!{i18n.getProperty("db.title.configResource")}</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item2 itemCon cur">
                                    <i class="step">02</i>
                                    <span>$!{i18n.getProperty("client.title.confUpPath")}</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item3 itemCon">
                                    <i class="step">03</i>
                                    <span>$!{i18n.getProperty("db.title.importRule")}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="tip">
                    <span>$!{i18n.getProperty("local.title.importConf")}</span>
                    <i>$!{i18n.getProperty("csv.text.hdfsNote")}</i>
                </h3>
                <div class="confType">
                    $!{i18n.getProperty("db.option.confType")}: <label><i data-val="1" class="radio cur"></i>$!{i18n.getProperty("db.option.select")}</label><label><i data-val="2" class="radio"></i>$!{i18n.getProperty("db.text.pattern")}</label>
                </div>
                <p style="color:#ff986f;padding-left:24px;font-size:12px;margin-bottom:10px;">$!{i18n.getProperty("ftp.note.hdfsNote")}</p>
                <div class="aRow" style="display: none;">
                    <select autocomplete="off" class="right" id="uploadSite">
                        <option value="0">HDFS</option>
                        <option value="1">HIVE</option>
                    </select>
                </div>
                <div class="mapRange">
                    <div class="dbCheckZone">
                        <div class="leftZone">
                            <div class="header">
                                <p class="dataTab">$!{i18n.getProperty("db.title.srcData")}</p>
                            </div>
                            <label class="checkAllDb"><input autocomplete="off" type="checkbox" id="checkAllDb"/>&emsp;&emsp;$!{i18n.getProperty("db.option.allSelt")}</label>
                            <div class="returnRoot">$!{i18n.getProperty("ftp.option.returnRoot")}</div>
                            <div class="dbZone">

                            </div>
                        </div>
                        <div class="centerZone">
                            <div class="transBtn">
                                <div id="pointRight">
                                    <img src="resources/images/pointRight_lost.png" class="lost"/>
                                    <img src="resources/images/pointRight_select.png" class="select"/>
                                </div>
                                <div id="pointLeft">
                                    <img src="resources/images/pointLeft_lost.png" class="lost"/>
                                    <img src="resources/images/pointLeft_select.png" class="select"/>
                                </div>
                            </div>
                        </div>
                        <div class="rightZone">
                            <div class="dbContainer">
                                <div class="tabShow">
                                    <table class="headTitle">
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="checkAllLab">
                                                    <input autocomplete="off" type="checkbox" class="tabCheckAll" />
                                                </label>
                                            </th>
                                            <th>$!{i18n.getProperty("db.option.srcTbl")}</th>
                                            <th>$!{i18n.getProperty("db.option.tarDb")}</th>
                                            <th>$!{i18n.getProperty("dump.option.tarTbl")}</th>
                                            <th><span class="allConfigure" field="hive"><img src="resources/images/mapData.png" class="mapImg"/><b class="mapTip">$!{i18n.getProperty("dump.title.batchConfig")}</b></span></th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <table class="headTitltTwo">
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="checkAllLab">
                                                    <input autocomplete="off" type="checkbox" class="tabCheckAll" />
                                                </label>
                                            </th>
                                            <th class="type_1">$!{i18n.getProperty("db.text.srcFile")}</th>
                                            <th class="type_1">$!{i18n.getProperty("local.option.confPath")}</th>
                                            <th class="type_2" style="display:none">$!{i18n.getProperty("db.text.srcPath")}</th>
                                            <th class="type_2" style="display:none">$!{i18n.getProperty("db.text.pattern")}</th>
                                            <th class="type_2" style="display:none">$!{i18n.getProperty("db.option.tarPath")}</th>
                                            <th><span class="allConfigure" field="hdfs"><img src="resources/images/mapData.png" class="mapImg"/><b class="mapTip">$!{i18n.getProperty("dump.title.batchConfig")}</b></span></th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="addContentZone">
                                        <table class="newTable hdfsTable">
                                            <tbody class="createTab">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btnZone">
                    <input autocomplete="off" type="button" value="$!{i18n.getProperty("client.option.prevStep")}" class="prevBtn" />
                    <input autocomplete="off" type="button" value="$!{i18n.getProperty("client.option.nextStep")}" class="nextStep btn btn-item" />
                </div>
            </div>
            <div class="upload-tab importRule">
                <div class="taskNav">
                    <div class="processCon">
                        <div class="process clearfix">
                            <div class="item">
                                <div class="item1 itemCon">
                                    <i class="step">01</i>
                                    <span>$!{i18n.getProperty("db.title.configResource")}</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item2 itemCon">
                                    <i class="step">02</i>
                                    <span>$!{i18n.getProperty("client.title.confUpPath")}</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item3 itemCon cur">
                                    <i class="step">03</i>
                                    <span>$!{i18n.getProperty("db.title.importRule")}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setCron">
                    #parse("cron/cron.vm")
                </div>
                <div class="btnZone">
                    <input autocomplete="off" type="button" value="$!{i18n.getProperty("client.option.prevStep")}" class="prevBtn" />
                    <input autocomplete="off" type="button" value="$!{i18n.getProperty("client.option.startImport")}" class="startImport" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="delayTip">
    <div class="spinBox" style="width:64px;height:64px;margin:0 auto;margin-top:350px;">
        <img src="resources/dist/images/loading.gif" alt="" />
    </div>
</div>
<div class="maskCell"></div>
<div class="createTabTip">
    <p class="headerTip"><span class="createCancel">X</span></p>
    <div class="newSuccess">
        <p class="haveTip">$!{i18n.getProperty("dump.note.configOk")}</p>
        <div class="bottom">
            <input autocomplete="off" type="button" value="$!{i18n.getProperty("s3.note.start")}" class="startManage" />
        </div>
    </div>
</div>

<div class="hdfsBox">
    <div class="contentBox hdfsRList">
        <div class="title mapRouteTit">
            <p class="routeTitle">HDFS $!{i18n.getProperty("local.option.confPath")}</p>
            <p class="closeMap hiveCloseMap">X</p>
        </div>
        <div class="matchMainCon">
            <div class="matchCon">
                <h3 class="border-left">$!{i18n.getProperty("db.title.source")}</h3>
                <p class="srcPath"><span class="option">$!{i18n.getProperty("db.text.srcPath")}</span><span class="path"></span></p>
                <label><span class="option"><b>*</b>$!{i18n.getProperty("db.text.pattern")}</span><input type="text" class="matchExp" placeholder="$!{i18n.getProperty("db.text.enterInfo")}">
                    <button class="btn btn-item preView">$!{i18n.getProperty("db.act.preview")}</button>
                </label>
                <div class="abView">

                </div>
                <div class="viewMatchType">
                    <span class="option">$!{i18n.getProperty("db.option.matchType")}</span>
                    <label><i class="radio cur" data-val="1"></i>$!{i18n.getProperty("db.text.nonRecursion")}</label>
                    <label><i class="radio" data-val="2"></i>$!{i18n.getProperty("db.text.recursion")}</label>
                </div>
                <div class="srcSet">
                    <span class="option"><b>*</b>$!{i18n.getProperty("db.title.setting")}</span>
                    <div>
                        <label><i class="radio cur" data-val="1"></i>$!{i18n.getProperty("db.text.noChangeDir")}</label>
##                        <label><i class="radio" data-val="3"></i>$!{i18n.getProperty("db.text.transDel")}</label>
                        <label><i class="radio" data-val="4"></i>$!{i18n.getProperty("db.text.transMoveDir")}<input autocomplete="off" class="moveDir" type="text" disabled></label>
                    </div>
                </div>
                <div class="leftZone">
                    <div class="returnRoot">$!{i18n.getProperty("ftp.option.returnRoot")}</div>
                    <div class="dbZone">

                    </div>
                </div>
            </div>
            <div class="mathRoute">
                <h3 class="border-left">$!{i18n.getProperty("db.text.target")}</h3>
                <div class="import hdfsWrite">
                    <span class="option"><b>*</b>$!{i18n.getProperty("db.option.tarPath")}</span>
                    <div class="routeChoice">
                        <div class="menuZone">
                            <ul class="allMeun firstM">
                                <li class="startLi">
                                    <label class='routeLabel'><input autocomplete="off" type='checkbox' class='routeChoiceBtn' name='route'/></label>
                                    <h3 class="routeStart oneRoute"><img class='turnOn' field="start" src='resources/images/routeOn.png'/><img class='turnOff' field="start" src='resources/images/routeOff.png'/><span class="thisRoute startThis"></span></h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="routeShow">
                    <div class="defaultShow">
                        <p class="option">$!{i18n.getProperty("local.title.fileDir")}</p>
                        <input autocomplete="off" type="text" disabled="true" class="defaultRoute" />
                    </div>
                    <div class="suffixShow">
                        <p class="option"><span class="optionTitle title1">$!{i18n.getProperty("local.title.fileName")}</span><span class="optionTitle title2" style="display: none;">$!{i18n.getProperty("ftp.option.dirTitle")}</span></p>
                        <input autocomplete="off" type="text" class="suffixRoute" maxlength="60"/>
                    </div>
                    <div class="sameNameAct">
                        <p class="option">$!{i18n.getProperty("db.option.fileNameSame")}</p>
                        <label><i class="radio cur" data-val="4"></i>$!{i18n.getProperty("db.text.fileNameSuffix")}</label>
                        <label><i class="radio" data-val="3"></i>$!{i18n.getProperty("db.text.ignore")}</label>
                    </div>
                </div>
                <div class="tarDir">
                    <div class="tarFileName clearfix"><span class="option"><b>*</b>$!{i18n.getProperty("local.title.fileName")}</span><label><i class="radio cur" data-val="1"></i>$!{i18n.getProperty("db.text.useSrcFilename")}</label><label><i class="radio" data-val="3"></i>$!{i18n.getProperty("db.text.srcFilenameAdd")}<select class="suffix"><option value="1">$!{i18n.getProperty("db.text.importDate")}($!{i18n.getProperty("db.text.example")}:_20170904)</option><option value="2">$!{i18n.getProperty("db.text.importTime")}($!{i18n.getProperty("db.text.example")}:_20170904_110205)</option></select></label></div>
                    <div class="tarRename"><span class="option"><b>*</b>$!{i18n.getProperty("db.option.fileNameSame")}</span><label><i class="radio cur" data-val="4"></i>$!{i18n.getProperty("db.text.fileNameSuffix")}</label><label><i class="radio" data-val="3"></i>$!{i18n.getProperty("db.text.ignore")}</label></div>
                </div>
            </div>
        </div>
        <div class="bottomBtn">
            <button class="keep btn btn-item">$!{i18n.getProperty("dbManage.option.save")}</button>
            <button class="cancelKeep btn btn-cancel">$!{i18n.getProperty("client.option.cancel")}</button>
        </div>
    </div>
</div>
<script type="text/html" id="template/sourceLink">
    {{each data as v}}
    <option value="{{v.id}}" data-val="{{v.val}}">{{v.connName}}</option>
    {{/each}}
</script>
<script type="text/html" id="template/sMeun">
    <ul>
        <li class="oneDataLi" field="0">
            <p class="oneResult root" response="ok">
                <img src="resources/images/slideUp.png" class="slideUp" style="display: inline;">
                <img src="resources/images/slideDown.png" class="slideDown" style="display: none;">
                <span class="aDbName" path="{{data}}">{{data}}</span>
            </p>
        </li>
    </ul>
</script>
<script type="text/html" id="template/child">
    <ul class="oneMeun childUl" field="{{data.field}}">
        {{if data.model.length < 1}}
        <li class="noData">$!{i18n.getProperty("db.text.queryNone")}</li>
        {{else}}
        {{each data.model as v i}}
        {{if v.directory}}
        <li class="oneDataLi" field="{{data.field}}{{i}}"><p class="oneResult" style="padding-left:{{pad}}px"><img src="resources/images/slideUp.png" class="slideUp"/><img src="resources/images/slideDown.png" class="slideDown"/><span class="aDbName" title="{{v.name}}" size="{{v.size}}" path="{{v.path}}">{{v.name}}</span></p><!--<label class="checkLabel hasDLabel"></label>--></li>
        {{else}}
        <li class="oneDataLi oneTabLi" field="{{data.field}}{{i}}"><p class="oneResult" style="padding-left:{{pad}}px"><span class="aTabName" title="{{v.name}} {{fileSize(v.size)}}" path="{{v.path}}">{{v.name}}</span><span class="tabSize" size="{{v.size}}">{{fileSize(v.size)}}</span></p><!--<label class="checkLabel hasDLabel"></label>--></li>
        {{/if}}
        {{/each}}
        {{/if}}
    </ul>
</script>
<script type="text/html" id="template/hdfsTr">
    {{each data as v i}}
    <tr field="{{v.field}}" class="hdfsTr newTr">
        <td>
            <label class="checkOneLab">
                <input autocomplete="off"  type="checkbox" class="tabCheckOne tabCheck">
            </label>
        </td>
        {{if type == 1}}
        <td class="hdfs">
            {{if v.directory}}
            <img  src="resources/images/oneDump.png"/>
            {{else}}
            <img  src="resources/images/parseDump.png"/>
            {{/if}}
            <span class="parseName" title="{{v.fileName}}">{{v.fileName}}</span>
        </td>
        {{else}}
        <td class="hdfs">
            <img  src="resources/images/oneDump.png"/>
            <span class="parseName" title="{{v.path}}">{{v.path}}</span>
        </td>
        <td class="matchExp">{{v.match}} </td>
        {{/if}}
        <td class="map hdfsMap"  path="{{v.path}}" size="{{v.size}}" directory="{{v.directory}}"></td>
        <td>
            <span class="oneConfigure">
                <img  src="resources/images/mapData.png" class="mapImg"/>
                <b class="mapTip">$!{i18n.getProperty("db.text.config")}</b>
            </span>
        </td>
    </tr>
    {{/each}}
</script>
<script type="text/html" id="template/preView">
    <div class="head">$!{i18n.getProperty("db.text.matchFile")}<span class="cancel">×</span></div>
    <div class="main">
        {{if !data.length}}
        <h4>$!{i18n.getProperty("db.text.matchNoneNote")}</h4>
        {{else}}
        {{each data as v i}}
        <h4 data-index="{{i}}"><i class="toggle">-</i>{{v.dir}}({{v.data.length}})</h4>
        <div class="fileList" data-index="{{i}}">
            {{each v.data as vv ii}}
            <p title="{{vv}}">{{vv}}</p>
            {{/each}}
        </div>
        {{/each}}
        {{/if}}
    </div>
</script>
<script type="text/html" id="template/configList">
    {{if type == 1}}
    {{each data as v i}}
    <tr field="-{{i}}" class="hdfsTr newTr">
        <td><label class="checkOneLab"><input autocomplete="off" type="checkbox" class="tabCheckOne tabCheck"></label></td>
        <td class="hdfs">
            {{if v.directory}}
            <img  src="resources/images/oneDump.png"/>
            <span class="parseName" title="{{v.filePath}}">{{v.filePath}}</span>
            {{else}}
            <img  src="resources/images/parseDump.png"/>
            <span class="parseName" title="{{v.filePath.split('/').slice(-1)[0]}}">{{v.filePath.split('/').slice(-1)[0]}}</span>
            {{/if}}
        </td>
        <td class="map hdfsMap" tarFileHandleType="{{v.tarFileHandleType}}" directory="{{v.directory}}" path="{{v.filePath}}" size="{{v.size}}" title="{{v.fileName}}" route="{{v.fileName.split('/').slice(0,-1).join('/')}}" file="{{v.filePath.split('/').slice(-1)[0]}}">
            {{v.fileName}}
        </td>
        <td>
                <span class="oneConfigure">
                    <img src="resources/images/mapData.png" class="mapImg">
                    <b class="mapTip">$!{i18n.getProperty("db.text.config")}</b>
                </span>
        </td>
    </tr>
    {{/each}}
    {{else}}
    {{each data as v i}}
    <tr field="-{{i}}" class="hdfsTr newTr">
        <td><label class="checkOneLab"><input autocomplete="off" type="checkbox" class="tabCheckOne tabCheck"></label></td>
        <td class="hdfs">
            <img  src="resources/images/oneDump.png"/>
            <span class="parseName" title="{{v.filePath}}">{{v.filePath}}</span>
        </td>
        <td class="matchExp">{{v.pathPattern}}</td>
        <td class="map hdfsMap" path="{{v.filePath}}" size="{{v.size}}" data-source="{{v.source}}" data-target="{{v.target}}" route="{{v.fileName}}" title="{{v.fileName}}">
            {{v.fileName}}
        </td>
        <td>
            <span class="oneConfigure">
                <img src="resources/images/mapData.png" class="mapImg">
                <b class="mapTip">$!{i18n.getProperty("db.text.config")}</b>
            </span>
        </td>
    </tr>
    {{/each}}
    {{/if}}
</script>
<script src="resources/dist/ftpUpload/libs.min.js?v=1508495800307"></script>
<script src="resources/dist/common/common.js?v=1523175610950"></script>
<script src="resources/libs/My97DatePicker/WdatePicker.js?v=1508495800307"></script>
<script src="resources/cron/cron.js?v=1508495800307"></script>
<script src="resources/dist/ftpUpload/ftpUpload.js?v=1523426965956"></script>
</body>
</html>