* {
    margin: 0;
    padding: 0;
}

body:after {
    content: "";
    display: block;
    clear: both;
}

.mainCon {
    margin-left: 239px;
}

.innerCon {
//    background: #edf1f2;
}

.innerCon h2.title {
    padding-left: 20px;
    line-height: 50px;
    color: #999;
    font-weight: normal;
    background: #fff;
}
.innerCon h2.title b{
    font-size: 14px;
    color:#000;
}
.innerCon h2.title span {
    color: #999;
    font-size: 12px;
}

.innerCon h2.title a {
    color:#999;
    font-size:12px;
}
.innerCon h2.title a.first{
    color:#999;
}
.innerCon h2.title .runToPre{
    cursor:pointer;
    color:#999;
}

.innerCon h2.title a:hover {
    text-decoration: underline;
}
.innerCon .upload-conatiner {
    margin: 20px;
}

.innerCon .upload-tab {
    width: 100%;
    background: #fff;
    padding: 24px 0 24px 0;
    padding-top: 0;
}

.upload-tab>p {
    position: relative;
    padding-left: 6px;
    margin-bottom: 22px;
}

.upload-tab .clientDownload {
    margin-bottom: 50px;
    border: 1px solid #edf1f2;
    padding: 15px;
}

.upload-tab .clientDownload:after {
    content: "";
    display: block;
    clear: both;
}

.upload-tab .clientDownload img {
    float: left;
    margin-right: 56px;
}

.upload-tab .client-tab {
    font-size: 13px;
    color: #000!important;
    border: 1px solid #d9d9d9!important;
    position: relative;
}

.upload-tab .client-tab thead {
    background: #efefef;
}

.upload-tab .client-tab .topTip {
    width: 100%;
}

.upload-tab .client-tab th,
td {
    border: 1px solid #d9d9d9!important;
}

.upload-tab .client-tab tr {
    height: 34px;
}

.upload-tab .client-tab input {
    border: none;
}

.upload-tab .client-tab th:nth-child(1) {
    text-align: center;
    width: 42px;
}

.upload-tab .client-tab th:nth-child(2) {
    width: 176px;
    padding-left: 18px;
}

.client-tab th:nth-child(3) {
    width: 209px;
    padding-left: 24px;
}

.client-tab th:nth-child(4) {
    padding-left: 24px;
    width: 230px;
}

.client-tab th:nth-child(5) {
    width: 246px;
    padding-left: 24px;
}

.client-tab th:nth-child(6) {
    width: 246px;
    text-align: center;
}

.upload-tab .client-tab .newmanage {
    text-align: left!important;
    padding-left: 14px;
}

.client-tab .newmanage img {
    margin-right: 6px;
}


/*表格数据静态样式：*/

.client-tab tr td:nth-child(1) {
    text-align: center;
}

.client-tab tr td:nth-child(2),
tr td:nth-child(3),
tr td:nth-child(4),
tr td:nth-child(5) {
    padding-left: 24px;
}

.client-tab tr td:nth-child(6) {
    text-align: center;
}

.client-tab .icon,
.state {
    display: inline-block;
}

.client-tab .state {
    padding-left: 8px;
}

.client-tab .stateIcon {
    margin-bottom: 1px;
    width: 7px;
    height: 7px;
    background: url("../../../../../resources/dist/images/clientUpload/stateSprite.png");
    background-position: -5px -4px;
}

.client-tab .btn {
    padding: 0;
    border: 0;
    width: 16px;
    height: 16px;
    background: url("../../../../../resources/dist/images/clientUpload/tabSprite.png");
}

.client-tab .editBtn {
    margin: 0 34px;
    background-position: 0 -32px;
}

.client-tab .delBtn {
    background-position: 0 -48px;
}

.upload-tab .taskNav {
    width: 100%;
    background:transparent;
    overflow:hidden;
}

.upload-conatiner .mapRoute,
.importRule {
    /*display: none;*/
}

.processCon{margin: 20px 0;border-bottom: 1px solid #eee;}
.process{ text-align: center;
    .item{float: left; font-size: 15px; width: 33%;line-height: 40px;
        .itemCon{display: inline-block;
            &.cur{border-bottom: 2px solid #004c6f; margin-bottom: -2px;
                .step{background: #004c6f;}
                span{color:#004c6f;}
            }
        }
    }
    .step{
        border-radius: 50%;
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;  
        color:#fff;
        font-style: normal;
        background: #ccc; 
        color:#fff;
    }  
}

.dataMapMsg{
    width:100%;
}
.dataMapMsg .oneRow{
    width:100%;
    padding-left:24px;
    overflow:hidden;
    padding-bottom:20px;
}


.dataMapMsg .oneRow .left{
    float:left;
    line-height:27px;
    width:10%;
    min-width: 120px;
    min-width:110px;
    height:27px;
    color:#2f2f2f
}
.oneRow .desDirHdfs{
    padding-left:10px;
}
.dataMapMsg .oneRow .right{
    float:left;
    display:block;
    width:340px;
    padding-left:14px;
    border-radius:0;
}
#partitions .select2-container{
    top: -2px!important;
    left: 4px!important;
    width:160px!important;
}
#partitions .select2-container--default .select2-selection--single{
    width:160px!important;
}
#partitions .item .filedName{width: 142px;}


.dataMapMsg .btnOneRow{
    border-top: 1px solid #f7f7f7;
    padding-top: 20px;
}
.dataMapMsg .oneRow .tipOnly{
    padding:0;
    width:auto;
    line-height:27px;
    height: 27px;
}
.dataMapMsg .oneRow .tip {
  line-height: 27px;
}
.dataMapMsg .oneRow label.tipOnly{
    user-select:none;
}
.dataMapMsg .oneRow .tipOnly.tipTitle{
    padding-left:14px;
}
.bCheckType{
  background:url("../../images/copyOff.png") 0 1px no-repeat;
}
.boxCheck{
    background:url("../../images/copyOn.png") 0 1px no-repeat;
}
.mapData .bCheckType{
    padding-left: 35px;
}
.regExpBtn{
    display:none;
}

.checkStatus{
    background:url("../../images/boxCheck.png") no-repeat!important;
}
.radioOk{
    background:url("../../images/newRadioOk.png") no-repeat;
}
.radioNo{
    background:url("../../images/newRadioNo.png") no-repeat;
}
.newRadioOk{
    background:url("../../images/newRadioOk.png") no-repeat;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
.newRadioNo{
    background:url("../../images/newRadioNo.png") no-repeat;
}
.timeTab label{
    padding-left:20px!important;
    line-height: 20px!important;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}

.date-range .endDateSBtn,.endDateNBtn{
    display:none;
}
.hour .mitVal{
    width:176px;
}
.month input[type="radio"]{
    display:none!important;
}
.month .date{
    width:176px;
}
.oneRow .regLabel{
    padding-left: 20px!important;
    background-position: 0px 5px!important;
    background:url("../../images/boxLost.png") no-repeat;
}
.newBCheckOk{
    background:url("../../images/newBCheckOk.png") no-repeat;
}
.newBCheckNo{
    background:url("../../images/newBCheckNo.png") no-repeat;
}
.week input[type="checkbox"]{
    display:none;
}
.week label{
    padding-left:20px;
    line-height:16px!important;
}
.oneRow #suffixContent,#moveSite{
    padding-left:10px;
}
.oneRow .delType,.suffixLabel,.moveLabel{
    padding-left: 20px!important;
    line-height:22px;
    display: block;
    height: 22px;
    float: left;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    margin-top:3px;
    background-position: 0 3px;
}
.oneRow .delType{
    line-height:22px!important;
}
.oneRow .choiceTypeTip{
    line-height:22px!important;
}
.oneRow .tipOnly .subDirBtn{
    display:none;
}
.oneRow .tipOnly .fileFilterBtn{
    display:none;
}
.oneRow .delFile,.fileSuffix,.fileMove{
    display:none;
}
.dataMapMsg .oneRow .tipLong{
    width:90%;
    height:auto;
    color:#bdbdbd;
}
.dataMapMsg .tipTitle{
    font-size:15px;
    font-weight:bold;
    color:#262626;
    position:relative;
    padding-left:14px;
}
.dataMapMsg .tipTitle:after{
    content:"";
    display:block;
    position:absolute;
    width:4px;
    height:13px;
    background:#004b6f;
    top: 7px;
    left: 0;
}
.dataMapMsg .manageTip{
     padding-top: 20px;
     padding-left:37px;
}
.dataMapMsg .manageTip:after{
    left:22px;
    top:25px;
}
.dataMapMsg .subDirZone{
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 20px;
}
.dataMapMsg .regWriteZone{
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 20px;
}
.fontCheck{
    color:#787878;
}
.fontLost{
    color:#bcbcbc;
}
.oneRow .right .multipleSelect{
    width:100%;
    border-radius:0;
  overflow: auto;
}
.dataMapMsg .oneRow .select2{
    padding:0;
    font-size:98%;
}
.dataMapMsg .oneRow .btnZone{
    width:230px;
    margin:0 auto;
}
.oneRow .btnZone .cancel{
    width:100px;
    height:30px;
    border:1px solid #e7e7e7;
    background:#f6f6f6;
    margin-right:20px;
  padding-left: 0;
}
.oneRow .btnZone .dataNextStep{
    width:100px;
    height:30px;
    background:#014b70;
    border:1px solid #014b70;
    color:#fff;
  padding-left: 0;
}
#mapRouteStepOne{
    border-right:0;
}
#mapRouteStepOne h1,#importRuleStepOne h1,#importRuleStepTwo h1{
    background: transparent;
    border: 0;
}
#mapRouteStepOne h1 .icon{
    color: #fff;
    border: 1px solid #8c8c8c;
    background: #8c8c8c;
}
#importRuleStepOne h1 .icon,#importRuleStepTwo h1 .icon{
    color: #fff;
    border: 1px solid #8c8c8c;
    background: #8c8c8c;
}
#mapRouteStepOne h1 .word,#importRuleStepOne h1 .word,#importRuleStepTwo h1 .word{
    color: #8c8c8c;
}
#mapRouteStepOne .span,#importRuleStepOne .span,#importRuleStepTwo .span{
    background:#edf1f2;
    border:0;
}
#mapRouteStepTwo,#importRuleStepThree{
    background:#fff;
}
#mapRouteStepTwo .span,#importRuleStepThree .span{
    background:#fff;
    border:1px solid #dde2e6;
    border-color: #dde2e6 #dde2e6 transparent transparent;;
}
#mapRouteStepTwo h1{
    border-bottom: 2px solid #014b72;
    margin: 2px auto 0;
    padding-left: 2px;
}
#mapRouteStepTwo h1 .icon{
    color: #fff;
    border: 1px solid #014b72;
    background: #014b72;
}
#mapRouteStepTwo h1 .word{
    color: #014b72;
}
#importRuleStepThree h1{
    border-bottom: 2px solid #014b72;
    margin: 2px auto 0;
    padding-left: 4px;
}
#importRuleStepThree h1 .word{
    color: #014b72;
}
#importRuleStepThree h1 .icon{
    color: #fff;
    border: 1px solid #014b72;
    background: #014b72;
}
.mapRouteMsg{
    width:100%;
    padding-top:20px;
}
.mapRouteMsg .oneRow{
    width:100%;
    padding-left:24px;
    height:28px;
    overflow:hidden;
    margin-bottom:24px;
  &.colSepRow{overflow: visible;}
}
.mapRouteMsg .oneRow .left{
    width:10%;
    min-width: 120px;
    float:left;
    height:27px;
    line-height:27px;
    color:#2f2f2f;
  text-align: right;
  padding-right: 20px;
}
.mapRouteMsg .oneRow .right{
    width:340px;
    float:left;
    height:27px;
    border-radius:0;
}
.mapRouteMsg .partitionZone{
    height:auto;
}
.mapRouteMsg .partitionZone #partitions{
    height:auto;
    padding-top: 2px;
}
.mapRouteMsg .partitionZone label{
    width:33px;
    text-align:center;
}
.partitionZone #partitions .item{
    margin-bottom:10px;
}
.oneRow .sameName .coverBtn,.addBtn{
    display:none;
}
.oneRow input[type="text"],select{
    padding-left:10px!important;
    border:1px solid #e2e2e2!important;
}
.oneRow .desDirHdfs{
    border-color:#e2e2e2!important;
}
.dbChoice{
    display:none;
}
.dataTab{
    display:none;
}
.colSepRow{display: none;}
.sameNameZone{
    display:none;
}
.mapRouteMsg .oneRow .tipOnly{
    height:auto;
    width:auto;
}
.mapRouteMsg .oneRow .sameName{width:auto; line-height: 27px;}
.mapRouteMsg .oneRow .sameName p,.sameName label{
    float:left;
}
.mapRouteMsg .oneRow .sameName label{ background-position: 0 5px; }
.mapRouteMsg .oneRow .sameName label + label{ margin-left:20px; }

.mapRouteMsg .titleTip{
    font-size:15px;
    font-weight:bold;
    position:relative;
    padding-left:14px;
}
.mapRouteMsg .titleTip:after{
    content:"";
    display:block;
    position:absolute;
    width:4px;
    height:13px;
    background:#004b6f;
    top: 7px;
    left: 0;
}
.mapRouteMsg .oneRow .btnZone{
    width:230px;
    margin:0 auto;
}
.mapRouteMsg .oneRow .btnZone input{
    display:block;
    float:left;
    width:100px;
    height:30px;
  padding-left: 0;
}
.mapRouteMsg .btnOneRow{
    height:180px;
    padding-top:30px;
}
.dataLink{
    margin-bottom:10px!important;
    display:none;
}
.mapRouteMsg .btnZone .mapRoutePreStep{
    background:#f6f6f6;
    border:1px solid #e7e7e7;
    margin-right:20px;
}
.mapRouteMsg .btnZone .mapRouteNextStep{
    background:#014b70;
    border:1px solid #014b70;
    color:#fff;
}

#importRuleStepThree .span{
    background:transparent;
    border:0;
}
.upload-conatiner .mapRoute,.importRule{
    display:none;
}
.maskCell{
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    display:none;
}
.hdfsRouteBox{
    width:500px;
    min-height:230px;
    position:fixed;
    z-index:1001;
    left:31%;
    top:80px;
    background:#f3f3f3;
    display:none;
}

.hdfsRouteBox .mathRoute{
  width: 100%;
  position: relative;
  background: #f3f3f3;
}
.hdfsRouteBox .title {
    line-height: 49px;
    background: #f3f3f3;
    color: #626262;
    font-size: 15px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    color: #000;
    padding-left:35px;
}
.allMeun .newRoute .routeLabel {
    background: url("../../../resources/images/routeLost.png") no-repeat;
    z-index: 10;
    cursor: pointer;
}
.newRoute .routeLabel {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 6px;
    background: #f00;
    top: 5px;
}
.rCheckIcon {
    background: url("../../../resources/images/routeCheck.png") no-repeat!important;
}
 .allMeun .startLi {
    padding-left: 4px;
    line-height: 34px;
   position: relative;
}
.allMeun .startLi .routeLabel{
    width: 17px;
    height: 17px;
    position: absolute;
    right: 6px;
    background: url(../../../resources/images/routeLost.png) no-repeat;
    top: 5px;
}
.allMeun .startLi .routeLabel input{
    display:none;
}
.allMeun .turnOn, .allMeun .turnOff {
    padding-bottom: 4px;
    cursor: pointer;
    display: block;
    float: left;
    margin-top: 5px;
}
.menuZone .allMeun .newRoute {
    line-height: 26px;
    position: relative;
}
.newRoute .oneRoute .thisRoute {
  font-family: "微软雅黑";
  font-weight: normal;
  display: block;
  height: 26px;
  overflow: hidden;
  padding-left:6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
}
.allMeun .newRoute .oneRoute {
    width: auto;
    height: auto;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    overflow: hidden;
}
.newRoute .routeLabel input[type="checkbox"] {
    display: none;
}
.title .routeTitle {
    float: left;
    color: #000;
}
.title .closeMap {
    float: right;
    margin-right: 18px;
    width: 22px;
    height: 24px;
    background: #f26746;
    text-align: center;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}
.mathRoute .routeShow {
  background: #f3f3f3;
  width: 460px;
  margin: 0 auto;
  padding: 15px 0 25px;
}
.mathRoute .routeShow .defaultShow {
    width: 100%;
    overflow: hidden;
}
.routeShow .defaultShow  p {
    float: left;
    width: 13%;
    min-width: 60.5px!important;
    line-height: 27px;
}
.routeShow .defaultShow input {
    display: block;
    float: left;
    width: 300px;
    border-radius: 0;
    padding-left: 12px;
}
.hdfsRouteBox .bakBtnZ {
    height: 59px;
    background: #e2e2e2;
    position: relative;
    bottom: 0;
}
.hdfsRouteBox .bakBtnZ  .bakRouteOk {
    position: absolute;
    right: 43px;
    top: 16px;
    background: #014b70;
    border-color:#014b70;
    color: #fff;
}
.hdfsRouteBox .hdfsWrite {
    width: 100%;
    height: auto;
}
.hdfsRouteBox .hdfsWrite  .routeChoice {
    width: 100%;
}
.hdfsWrite  .routeChoice .menuZone {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #fff;
  font-family: "Arial";
  font-weight: 100;
  padding: 35px 25px 0;
  max-height: 300px;
  min-height: 150px;
  overflow-y: auto;
}
.menuZone .allMeun .turnOn {
    display: none;
    float: left;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    padding-bottom: 4px;
    cursor: pointer;
    margin-top: 5px;
}
.menuZone .allMeun .turnOff {
    padding-bottom: 4px;
    cursor: pointer;
    display: block;
    float: left;
    margin-top: 5px;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
.menuZone .allMeun .startThis {
  font-family: "微软雅黑";
  font-weight: normal;
  display: block;
  height: 26px;
  overflow: hidden;
  padding-left:6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
}
.menuZone .allMeun .routeStart{ line-height: 26px; border-bottom: 1px solid #e2e2e2; font-weight: normal;}

.contentBox{
    width:38%;
    min-height:230px;
    position:fixed;
    z-index:1001;
    left:31%;
    top:150px;
    background:#f3f3f3;
    display:none;
}
.contentBox .header{
    height:50px;
    background:#f3f3f3;
}
.contentBox .header .delSIcon{
    display: block;
    width: 22px;
    height: 22px;
    background: #f26746;
    text-align: center;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-right: 12px;
}
.contentBox .centerTip{
    height: 50px;
    background:#f3f3f3;
    margin-top:50px;
}
.contentBox .centerTip .success{
    text-align: center;
}
.centerTip .success span{
    font-size:17px;
}
.centerTip .success img{
    margin-bottom:2px;
}
.centerTip .success a{
    color:#3385ff;
}
.centerTip .success a:hover{
    color:#3385ff;
}
.contentBox .skipTip{
    height:80px;
    background:#f3f3f3;
    text-align:center;
}
.contentBox a{color:#3285fd};

.contentBox .skipTip .goToClient{
    cursor:pointer;
}
.contentBox .foot{
    height: 50px;
    background:#e2e2e2;
}
.contentBox .foot .cancelSBtn{
    width: 68px;
    height: 28px;
    background:#fff;
    color:#3f3f3f;
    float:right;
    margin-right:47px;
    margin-top:11px;
    text-align: center;
    line-height:28px;
}
.mt10{margin-bottom: 10px;}
.mt20{margin-bottom: 20px;}

.month{
    margin-top:26px;
}
.month .timeVal{
    margin-top:26px;
}
.timeTab .atNowBtn,.setTimeBtn{
    display:none;
}
input[type="radio"]{vertical-align: middle; padding:0;}
textarea{width: 90%; height: 70px; border:1px solid #ccc; padding:5px;}

.btnCon{text-align: right; padding: 10px; width:250px; margin:0 auto; padding-top:20px;}
.btnCon .lastPreStep{
    background:#f6f6f6!important;
    margin-right:10px;
    width:100px;
    height:30px;
}
.btnCon .startImport{
    background:#014b70!important;
    color:#fff!important;
    border-color:#014b70;
    width:100px;
    height:30px;
}
.Wdate{width:158px;}
.ruleZone{padding:20px;}

.ruleZone .pointTitle{
    font-weight:bold;
    color:#262626;
    margin-bottom: 10px;
    position:relative;
    font-size:15px;
    padding-left:14px;
}
.ruleZone .pointTitle:after{
    content:"";
    display:block;
    position:absolute;
    width:4px;
    height:13px;
    background:#004b6f;
    top: 4px;
    left: 0;
}
.mainCon input[type="button"]{
    cursor:pointer;
}

aside.aside ul .clientMNav{
    color: #fff!important;
    background: url(../../images/client_check.png) no-repeat!important;
    background-position: 0 12px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{ height: 25px; line-height: 25px; margin-top: 0;}
.select2-container--default.select2-container--disabled .select2-selection--multiple{cursor: not-allowed;
  .select2-selection__choice{cursor: not-allowed;}
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #ebebe4;
}
.redWord{
    color:#f00;
}
.hiveSqlH{
    height:160px!important;
}
.hdfsRouH{
    height:250px!important;
}
.positionTrans{
    position:absolute!important;
}
.delayTip{
    display:none;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.3);
    position:fixed;
    top:0;
    left:0;
    z-index:1100;
}
body input[disabled]{
    cursor: not-allowed;
    background: #ebebe4!important;
}
input.filedName{
    width: 167px;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple
, .select2-container--default.select2-container--focus .select2-selection--multiple
{border: 1px solid #ddd;}

.new-sql{ width: 100%; padding-left: 24px; margin-bottom: 24px;
  h5{font-weight: normal;
    width: 10%;
    min-width: 120px;
    float: left;
    height: 27px;
    line-height: 27px;
    text-align: right;
    padding-right: 20px;
    span {font-weight: normal; color: #004c6f; font-size: 12px;}
  }
  textarea{width:340px}
  .disabled{background: #ddd;}
}

.new-sql { display: none; overflow: hidden;
  h4{font-size: 14px;color: #000;line-height: 50px;padding-left: 35px; height:50px; font-weight:normal;   border-bottom:1px solid #e2e2e2;
    .cancel{float: right;cursor: pointer; width: 23px;height: 23px;line-height:23px;margin-right:18px;text-align: center;background: #f3723f;color: #fff;font-size: 18px;}
  }
}

.CodeMirror{height: 150px;width: 340px; border: 1px solid #eee; float: left;}
.CodeMirror-gutters{width:30px;}
.CodeMirror-sizer{margin-left:31px !important;}
.CodeMirror-code .CodeMirror-gutter-elt{
  text-align: center;
}

h3{font-size: 16px;color: #000; margin-left: 20px; padding-bottom: 20px; line-height: 20px;
  span{border-left: 3px solid #004c6f; display: block; padding-left: 10px;}
}
.importRule{ h3 { padding-bottom: 0;} }
.configTask{ position: relative;
  li {margin-bottom:20px; line-height: 27px;
    span.leftTitle{width: 140px;float: left;line-height: 27px;padding-right: 20px;color: #000; text-align:right;}
    .leftTitle span{color:red;}
    input, select, textarea { width:50%;}
    input, select { height: 30px;}
    textarea{ vertical-align: top; height:60px;}
  }
  .radio{ padding-left:20px; height:16px; background:url("../../images/newRadioNo.png") no-repeat; font-style: normal;
    &.cur{background-image: url('../../images/newRadioOk.png');}
  }
  .fileFilterType .radio{margin-right: 50px; cursor: pointer;}
  .fileFilterType .radio + .radio{margin-right: 0;}
  .filter{display: none;}
  .choiceTypeTip{
    .line{padding-left: 140px; margin-bottom: 10px; width: 600px; cursor: pointer;}
    input{width: 200px;}
  }
  .select2{
    li, input{margin-top:0;margin-bottom: 0; height: 27px;}
  }
  .select2-container .select2-search--inline .select2-search__field{margin-top:0;}
}
.tooltip{ background: url('../../images/zs.png') no-repeat; width:15px; height: 15px; margin: 10px; padding-left: 15px;}
.new-sql .tooltip{ float: left; position: static;}

.replacementCon{ display: inline-block; width:340px; line-height: 25px;border: 1px solid #ddd;background: #fff; position: relative; vertical-align: middle;
  &.disabled{background: #ebebe4; cursor: not-allowed;
    .val { cursor: not-allowed;}
  }
  .list{display: none; background: #fff; position: absolute; border:1px solid #ddd; width:100%;z-index:2;
    .item{padding-left: 10px;}
    .input{border-top:1px solid #ddd;;padding-top: 5px;padding-bottom: 5px;}
    .inputReplacement{width:270px;height: 25px;margin: 0;}
    label{margin:0;}
    .item.cur{background: #e5e5e5;}
    .item:hover{ background: #198af2; color: #fff; cursor: pointer;}
    button{min-width: 40px;height: 25px;line-height: 23px;cursor: pointer;background: #004c6f;color: #fff; padding:0 5px;}
  }
  .val{padding-left: 10px;overflow: hidden; height: 25px;  margin-right: 20px;  text-overflow: ellipsis; cursor: pointer;}
  .val:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 4px 5px;
    border-bottom:none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #333;
    right: 5px;
    top: 10px;
  }
  &.show .val:after{
    border-top: none;
    border-bottom: 4px solid #333;
  }
  &.show .list{display: block;}
}

.colSepRow {
  .tooltip{float: left; position: static; margin: 5px 10px;}
}
/*# sourceMappingURL=index.css.map */