* {
    margin: 0;
    padding: 0;
    color:#5b6473;
}

body:after {
    content: "";
    display: block;
    clear: both;
}

body {
    overflow-x: hidden;
}

.mainCon {
    margin-left: 239px;
}

.innerCon {
    background: #edf1f2;
}

.innerCon h2.title {
    padding-left: 20px;
    font-size: 14px;
    line-height:48px;
    color: #999;
    font-weight: 400;
    background: #fff;
}

.innerCon h2.title span {
    color: #000;
}

.innerCon h2.title a {
    color: #8e9faf;
    font-weight: normal;
    font-size:12px;
}

.innerCon h2.title a:hover {
    text-decoration: underline;
}
.innerCon h2.title a:nth-child(4){
    text-decoration:none;
}
.innerCon .upload-conatiner {
    margin: 20px;
    background: #fff;
    padding-left:20px;
}

.innerCon .upload-tab {
    width: 1100px;
    padding: 40px 0;
    margin: 0 auto;
}

.innerCon .upload-tab .section {
    margin-bottom: 20px;
}

.innerCon .upload-tab .section>p {
    font-size: 16px;
    position: relative;
    font-weight: bold;
    padding-bottom: 9px;
}

.innerCon .upload-tab .section .item-row {
    border-top: 1px solid #dee3e7;
    height: 480px;
    padding-top: 20px;
    overflow-y: auto;
    border-bottom:1px solid #ddd;
    padding-left:40px;
}

.section .item-row::-webkit-scrollbar {
    width: 10px;
    background: #FFF;
}

.section .item-row::-webkit-scrollbar-button {
    background: transparent;
}

.section .item-row::-webkit-scrollbar-track {
    background: transparent;
}

.section .item-row::-webkit-scrollbar-track-piece {
    background: transparent;
}

.section .item-row::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 4px;
}

.innerCon .upload-tab .section .item-row .upload-item:after {
    content: "";
    display: block;
    clear: both;
}

.innerCon .upload-tab .section .item-row .upload-item {
    float: left;
    width: 50%;
}

.innerCon .upload-tab .section .item-row .imgCon {
    float: left;
    margin-right: 10px;
}

.innerCon .upload-tab .section .item-row .article {
    width: auto;
    float: left;
}

.innerCon .upload-tab .section .item-row .article h2 {
    font-size: 16px;
    margin-bottom: 18px;
    font-weight: bold;
}

.innerCon .upload-tab .section .item-row .article p {
    -webkit-text-size-adjust: none;
    font-size: 12px;
    color: #000;
    margin-top: 18px;
    line-height: 20px;
}

.innerCon .upload-tab .section .item-row .article span {
    color: #6290db;
    -webkit-text-size-adjust: none;
    font-size: 12px;
}

.innerCon .upload-tab .section .item-row:after {
    content: "";
    display: block;
    clear: both;
}

.tokenValBox {
    margin: 0 auto;
    position: relative;
    overflow:hidden;
    height: 40px;
    margin-top: 20px;
}

.tokenValBox input {
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-family: "微软雅黑";
    font-size: 14px;
}

.tokenValBox #tokenBtn {
    width: 120px;
    height: 40px;
    background: #277dea;
    color: #fff;
    cursor: pointer;
}

.tokenValBox #tokenValue {
    left: 126px;
    height: 40px;
    width: 250px;
    background: #3bb064;
    color: #fff;
}

.tokenValBox #tokenCopyBtn {
    left: 386px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    background: #fff;
}

.tokenValBox .hidden{
    width: 120px;
    height: 40px;
    background: #277dea;
    color: #fff;
    cursor: pointer;
}
.tokenValBox #appKey{
    left: 500px;
    height: 40px;
    width: 250px;
    background: #f2e8de;
    color: #e5aa6e;
}
.tokenValBox #aKeyCopyBtn{
    left: 760px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    background: #fff;
}
.hoverBtn{
    background:#277DD8!important;
}
.headNav{
    position:relative;
    padding-left:10px;
    color:#5a5a5a;
}
.headNav:after{
    content:"";
    display:block;
    width:4px;
    height:13px;
    background:#014b70;
    position:absolute;
    left:0;
    top:4px;
}
.headNav span,
.headNav a {
    display: inline-block;
    margin-bottom:5px;
    font-weight:bold;
}

.loadDoc {
    border: 1px solid #ddd;
    display: block;
    margin-left: 8px;
    padding: 4px 10px 4px 20px;
    text-align: center;
    color: #777;
    font-size: 12px;
    cursor: pointer;
    background: url('../../../../../resources/dist/images/commonpage/httpLoad.png') no-repeat;
    background-position: 6px 6px;
}

.appMapMsg {
    width: 80%;
    margin-top:10px;
    margin-bottom:10px;
}

.appMapMsg tr {
    height: 38px;
}

.appMapMsg tr td {
    border: 1px solid #ddd;
    padding-left:6px;
}
.interfaceMsg{
    border-left: 2px solid #dfe0e2;
    padding-left:6px;
    margin-top:10px;
    margin-bottom:10px;
}
.interfaceMsg .interfaceTitle{
    font-weight:bold;
    font-size:16px;
    margin-bottom:4px;
}
.interfaceMsg .keyMsg{
    margin:6px 0 10px 0;
}
.interfaceExplain {
    width:100%;
    border-left: 2px solid #dfe0e2;
    padding-left:6px;
    margin-top:30px;
}
.interfaceExplain .type{
    width:100%;
    margin-bottom: 20px;
}
.interfaceExplain .type table{
    width:80%;
    margin:10px 0 10px 0;
}
.interfaceExplain table tr{
    height:38px;
}
.interfaceExplain table tr td{
    border:1px solid #ddd;
    padding-left:6px;
}
.interfaceExplain table tr td:nth-child(1){
    width:100px;
}
.interfaceExplain .title{
    font-weight:bold;
    font-size:16px;
    margin-bottom:4px;
}
.item-row .tip{
    font-weight: bold;
}
.codeTest{
    padding-left:8px;
    border:1px solid #ddd;
    width:80%;
}
.codeTesth3{
    font-size:16px;
    font-weight: bold;
    margin-bottom:10px;
}
.codeTest p{
    margin:10px 0 20px 0;
}
.startTip{
    color:#858591;
}

.select2{
    width:100%;
    height:30px;
}
.select2 .multipleSelect{
    width:1px;
    height:1px;
}
.liveInterface{
    font-size: 16px;
}
.twoFiled{
    margin-bottom: 10px;
    margin-top: 30px;
    border-left: 2px solid #dfe0e2;
    padding-left: 6px;
}
.twoFiled p{
    font-weight: 700;
    font-size: 16px;
}
.twoFiled .dataBox{
    overflow:hidden;
    margin-top:10px;
}
.twoFiled input[type="text"]{
    width:40%;
    height:28px;
    border:1px solid #d9d9d9;
    display:block;
    float:left;
    padding-left:10px;
}
.twoFiled span{
    font-weight:bold;
    display:block;
    float:left;
    width:70px;
}
.twoFiled input[type="button"]{
    height:28px;
    background: #e5e8ed;
    color: #33383c;
    cursor: pointer;
    display:block;
    float:left;
    width: 110px;
    margin-left: 18px;
    border: 0;
    font-family: "微软雅黑";
    border:1px solid #dadfe2;
}
.twoFiled input[type="button"]:hover{
    background:#e2e2e2;
}
aside.aside ul .taskMNav {
    color: #fff!important;
    background: url("../../images/task_check.png") no-repeat!important;
    background-position: 0 12px!important;
}
/*# sourceMappingURL=index.css.map */