.innerCon{
    h2.title{padding-left: 20px;line-height: 50px;background: #fff; font-weight: normal; color: #999; 
        b{color:#000; font-size: 14px;}
        a{color:#999;}
        a:hover{text-decoration: underline;}
    }
    .detailCon{margin:20px; padding:20px; background: #fff;
        [v-cloak]{display: none;}
        .border-left{border-left: 3px solid #004c6f;padding-left: 10px;font-size: 14px;line-height: 14px;font-weight: normal;margin-bottom: 20px;}
        .flex{ display: flex; flex-flow: column nowrap;
            .flex-item { display: flex; border:1px solid #ccc;
                &.head{background: #f9f9f9;}
                &.head.scroll{overflow-y: scroll;}
                &:not(.head):hover{background: #f6f6f6;}
                .item{flex: 1 1  auto; padding-left: 15px; line-height: 30px;text-overflow: ellipsis; overflow: hidden;}
                .key{width:30%; max-width: 300px;}
                .val{width:70%; word-break: break-all; word-wrap: break-word;}
                .item + .item { border-left: 1px solid #ccc; }
                .note{line-height: 20px;padding-top: 5px; padding-bottom: 5px;}
             }
             .flex-item + .flex-item{border-top:0; }            
        }
        #basis, #source, #target, #detail{margin-bottom: 20px;}
        .link{padding: 7px 10px; float: right; background: #004c6f;  border-radius: 2px;color:#fff; margin-left: 20px;
            &:hover{opacity: .9;}
        }
        #detail{ 
            .infoCon{max-height: 310px; overflow-y: auto;
                .flex-item{border-top:0;}
            }
            .item { width: 100px; word-wrap: break-word;  word-break: break-all; white-space: nowrap;
                a { display: block; color: #004c6f; cursor: pointer;}
                b{color:#004c6f}
            }
          .sqlQuery{
            .srcSql{border-bottom: 1px solid #ccc;}
            &:hover .showDdl{display: block;}
            .showDdl{display: none;}
          }
            .showDdl{
                position: absolute;
                width: 300px;
                max-height: 200px;
                margin-left: -15px;
                line-height: 20px;
                padding: 5px 0 5px 5px;
                word-wrap: break-word;
                word-break: break-all;
                .content{
                     opacity: 0.8; border-radius: 3px; border:1px solid #ccc;
                    textarea{width: 300px; max-height: 200px;}
                }
            }
            .arrow{
              margin-left: 40px;
                width: 0;
                height: 0;
                line-height: 0;
                border: 5px dashed #000;
                border-bottom-style: solid;
                border-top: none;
                border-left-color: transparent;
                border-right-color: transparent;
            } 
            .item:last-child.ddl .showDdl{margin-left: -160px;
              .arrow{margin-left:200px;}
            }
            .loadingImg{padding: 18px 118px 0 118px; border:1px solid #ccc;}
            .whereSql{
                .showDdl{display: none; margin-left: -150px;}
                .text{height: 30px;overflow: hidden;}
                .arrow{display: none;}
                .listContent{height: 30px;overflow: hidden;}
                &:hover .showDdl{display: block;}
                &:hover .arrow{display: block;}                
            }
            .partConf{position: absolute;  right: 40px;  border: 1px solid rgb(204, 204, 204);  background: #fff;  padding: 10px;  box-shadow: #eee 2px 5px;width:400px;
              .flex-item.head{border-top:1px solid #ccc;}
              .flex-item.source, .flex-item.target{width: 50%; float: left;flex-flow: nowrap;}
              .item.row-flex{display: flex;padding:0;}
            }
        }
    }
}

.tipsy-inner {
    word-wrap: break-word;
    word-break: break-all;
}
.CodeMirror{height: auto;}
