<article class="main">
    <h3 class="title">接口索引</h3>
    <table class="index">
        <thead>
        <tr>
            <td>接口名称</td>
            <td>URL</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h3 class="title" name="code" id="code">code状态码说明</h3>
    <table>
        <thead>
        <tr>
            <td>code</td>
            <td>说明</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>200</td>
            <td>请求成功，正常返回请求内容</td>
        </tr>
        <tr>
            <td>0</td>
            <td>请求业务失败，返回错误提示信息等内容</td>
        </tr>
        <tr>
            <td>1001</td>
            <td>$!{i18n.getProperty("API.1001")}</td>
        </tr>
        <tr>
            <td>1002</td>
            <td>$!{i18n.getProperty("API.1002")}</td>
        </tr>
        <tr>
            <td>1003</td>
			#set($msg=$i18n.getProperty("API.1003"))
            <td>$!{msg.replace("%s", "yyyy-MM-dd HH:mm:ss")}</td>
        </tr>
        <tr>
            <td>1004</td>
            <td>$!{i18n.getProperty("API.1004")}</td>
        </tr>
        <tr>
            <td>1005</td>
			<td>$!{i18n.getProperty("API.1005")}</td>
        </tr>
        <tr>
            <td>1006</td>
            #set($msg=$i18n.getProperty("API.1006"))
            <td>$!{msg.replace("%s", "/api/xxx/xxx")}</td>
        </tr>
        <tr>
            <td>1007</td>
			#set($msg=$i18n.getProperty("API.1007"))
            <td>$!{msg.replace("%s", "n")}</td>
        </tr>
        <tr>
            <td>1008</td>
			#set($msg=$i18n.getProperty("API.1008"))
            <td>$!{msg.replace("%s", "XXX")}</td>
        </tr>
        </tbody>
    </table>

    <h3 class="title" name="dbType" id="dbType">数据库类型</h3>
    <table>
        <thead>
        <tr>
            <td>dbType</td>
            <td>说明</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>4</td>
            <td>Oracle</td>
        </tr>
        <tr>
            <td>24</td>
            <td>PostgreSQL</td>
        </tr>
        <tr>
            <td>31</td>
            <td>Hive2</td>
        </tr>
        <tr>
            <td>38</td>
            <td>MySQL</td>
        </tr>
        <tr>
            <td>40</td>
            <td>SQL Server</td>
        </tr>
        <tr>
            <td>44</td>
            <td>DB2</td>
        </tr>
        <tr>
            <td>52</td>
            <td>Aliyun RDS MySQL</td>
        </tr>
        <tr>
            <td>53</td>
            <td>Aliyun RDS SQL Server</td>
        </tr>
        <tr>
            <td>54</td>
            <td>Aliyun RDS PostgreSQL</td>
        </tr>
        <tr>
            <td>56</td>
            <td>Amazon RDS MySQL</td>
        </tr>
        <tr>
            <td>57</td>
            <td>Amazon RDS SQL Server</td>
        </tr>
        <tr>
            <td>58</td>
            <td>Amazon RDS PostgreSQL</td>
        </tr>
        <tr>
            <td>60</td>
            <td>Amazon RDS Oracle</td>
        </tr>
        <tr>
            <td>62</td>
            <td>Spark MPP</td>
        </tr>
        </tbody>
    </table>
</article>
